[2019-08-28 10:00] #295 closed

[2019-09-03 14:43] ryudice opened #297 "@BeforeSuite and @AfterSuite run multiple times when executing tests in parallel"
### Expected behavior
When running threads in parallel @BeforeSuite and @AfterSuite should run only once

### Actual behavior
@BeforeSuite and @AfterSuite execute each time for each parallel stream

### Steps to reproduce
Jun add @AfterSuite and run tests in parallel, AfterSuite method will run multiple times

### Gauge version
[code]

[2019-09-04 05:04] negiDharmendra commented on #297
@ryudice As of now each thread of the Java Runner is considered as a separate runner by Gauge that's why the  `BeforeSuite` and `AfterSuite` runs for each thread.

[2019-09-04 14:55] ryudice commented on #297
@negiDharmendra and is that correct? at the end you are running a Suite, the fact that the suite is run in parallel is a low level abstraction that I dont think you should need to care at the high level. Also the naming of the attribute is misleading if that's the case.

Is there an alternative attribute that gets ran after the executor finishes running all parallel streams?

[2019-09-10 10:27] nehashri commented on #297
@ryudice Gauge tries to divide a test suite into multiple parallel suites while running in parallel. This is so that the setup can be done on each of the runner processes before execution. This behaviour is true for multithreaded execution too. I agree that this becomes confusing while using multithreading with Gauge Java.

This doesn't exist currently, however if you think this is useful, please

[2019-09-11 08:12] ajoecker opened #301 "[Feature Request] Allow loading a file from classpath in spec definition"
### Expected behavior
In a Java project allow to define a special parameter `classpath` to load files from classpath.

### Background
In java projects (mainly in maven/gradle projects), the structure of resources that are used in a project are defined (`src/test/resources`). It would be beneficial to allow the path to a resource in the spec instead of given the full path.

So instead of  `<file:sr

[2019-10-03 15:25] sxexesx opened #307 "[ValidationError] in multi-module Java project"
### Expected behavior
User should be able to run specs from different modules

### Actual behavior
Recognize an error:

[code]

### Steps to reproduce
1. create a project with module TestMavenModule
2. console command: gauge java init
3. add maven and guage build plugin, parent dependencies to pom-file (you can check simple project here: [GitHubProject here](https://github.com/sxexesx/GaugeTestRun

[2019-10-03 17:05] ogulcanarbc commented on #159
You can also using log4j. That's how I solved my problem.
Just type the following command into the log4j properties file;
**log4j.logger.org.reflections.reflections = WARN**

[2019-10-14 10:12] negiDharmendra commented on #307
@sxexesx  Please change
`mvn gauge:execute -f pom.xml -DspecsDir=TestMavenModule/specs -Denv="default"`
to
`mvn gauge:execute -f TestMavenModule/pom.xml -DspecsDir=TestMavenModule/specs -Denv="default"`

[2019-10-14 11:36] sxexesx commented on #307
It works! Thank you!

[2019-10-14 11:36] #307 closed

[2019-10-16 13:22] zabil commented on #301
This can be considered while implementing https://github.com/getgauge/gauge/issues/94

[2019-10-22 10:07] nehashri opened #310 "Java release 0.7.3"
These are the release activities to be performed when releasing Gauge java.

## Pre release
- [x] Check all commits that has been added with this release and make sure the relevant issues are tested/closed.
- [x] Check if all relevant tests(FTs and LSP tests on gocd, travis) are passing
- [x] Check compatibility of plugin with gauge and other plugins. Make sure gauge/other plugins are released if

[2019-11-12 10:06] nehashri opened #324 "Remove golang dependency"
We currently use go to build and run the plugin.
We use make.go file to build and run tests.
We use gauge-java.go file to build a binary which in turn runs the java project.
Remove these dependencies.
Use maven tasks to run tests and build the plugin.
The gauge-java plugin should be started with java command itself or shell scripts.

[2019-11-19 05:37] #310 closed

[2019-11-21 07:45] lirany1 opened #325 "Exception in thread "main" java.lang.NoClassDefFoundError after running a spec"
Trying to run a spec file and getting this error:

[code]
[code]
### Gauge version
[code]

[2019-11-21 09:19] nehashri commented on #325
@lirany1 Are you seeing this error in IntelliJ? Are you using any build tools like maven or gradle? What version of IntelliJ Gauge plugin you are using?

[2019-11-22 11:49] wesspieters opened #326 "resources not loaded in classpath in intellij running gradle"
### Expected behavior
.properties files should be put on classpath when running gauge through intellij with gradle task

### Actual behavior
Tell us what happens instead. Only libraries and classes is put onto classpath

### Steps to reproduce
1. run gauge through gradle task
2. tests fail due to resources folders not on classpath
3. log output classpath
22-11-2019 10:31:32.547 [java] [DEBUG] clas

[2019-11-25 12:36] wesspieters commented on #326
moved to https://github.com/getgauge/gauge-gradle-plugin/issues/41

[2019-11-25 12:36] #326 closed

[2019-12-03 09:21] negiDharmendra commented on #325
@lirany1  Any updates on this issue?

[2019-12-04 10:28] jonathangiber commented on #297
Maybe this one can solve the problem https://github.com/getgauge/gauge/issues/805

[2019-12-04 12:58] #301 closed

[2019-12-08 11:05] raducrisan1 opened #331 "gauge run having only fat .jar file and specs folder"
### Expected behavior

I have created a Docker image that has gauge installed and java plugin enabled. I also added the fat .jar file that contains step implementations.
I mounted a volume with the specs folder and I want to run 'gauge run specs/' and my specs to be executed

Is there any way to run specs without deploying the source code of the steps implementation ?

### Actual behavior
gauge cl

[2019-12-09 06:31] nehashri commented on #331
@raducrisan1 For a folder to be recognized as a Gauge test folder, you should not only copy over the specs folder. The `manifest.json` file is needed for Gauge to find out which plugins and language runner to use. The `env` folder is required too. Along with that, you may have to put your jar file in the libs directory, for it to be found by Gauge. Refer https://docs.gauge.org/configuration.html?l

[2019-12-11 08:48] nehashri commented on #325
Closing this issue, feel free to open with more information.

[2019-12-11 08:48] #325 closed

[2019-12-18 15:00] Vishnu1067 commented on #297
+1

Would be nice to have this feature.

Example: We have one suite which has 30 test cases (runs in parallel) and First step is creating a user. Right now we have this step for all 30 cases and each takes around 5~10 secs. If there could be possible to create @BeforeSuite and store the value in DataStore suite level, can share this value for all other 29 test cases.

[2019-12-19 06:01] BugDiver commented on #324
## Things needs to be tested

- [ ] Should be able to build project locally without Golang
- [ ] Should able to create an offline project with newly installed gauge-java plugin
- [ ] Should able to run project with newly installed gauge-java plugin
- [ ] Should able to run maven project with newly installed gauge-java plugin
- [ ] Should able to run gradle project with newly installed gauge-java p

[2019-12-26 19:15] shanzee05 opened #339 "panic: runtime error: invalid memory address or nil pointer dereference"
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0xa0 pc=0x88b16d]

goroutine 110 [running]:
github.com/getgauge/gauge/runner.(*LanguageRunner).EnsureConnected(0xc00032f920, 0x30)
	/Users/admin/Documents/Doga/pipelines/Gauge-Build/src/github.com/getgauge/gauge/runner/runner.go:232 +0x14d
github.com/getgauge/gauge/runner.(

[2020-01-02 05:04] hungluong5791 opened #343 "Unable to integrate with Geb BindingUpdater"
Hi,

I am currently trying to use Gauge for specs and Geb for implementation (since I don't want the alternative which is raw WebDriver).

Right now I want to make use of Geb + Groovy syntax, which Geb provides with the BindingUpdater mechanics (see https://gebish.org/manual/current/#cucumber-jvm). However gauge doesn't seem to pickup on the binding and instead go straight into the method.

Of cou

[2020-01-02 05:50] sriv commented on #343
Hi, the closest we've got to supporting Groovy is this example: https://github.com/getgauge-examples/groovy-selenium (which uses WebDriver directly, unfortunately).

`gauge-java` is the only JVM plugin for gauge, and it uses reflection for scanning and identifying implementations, hooks etc.

In order to support Geb, there needs to be a plugin that not only understand's Groovy syntax,  but also co

[2020-01-02 06:46] hungluong5791 commented on #343
Hi,

Thank you for the explanation. I did take a look at Taiko and loved it very much. However my use case right now requires cross-browser testing including Safari so I don't think we can adopt Taiko anytime soon.

Speaking of, do you know of any plan for Taiko to "fallback" to the WebDriver protocol? I feel multi browser support is the only roadblock left now for widespread adoption.

[2020-01-02 09:29] sriv commented on #343
No plans, and am not certain it is quite feasible. Taiko's behaviour relies on certain events/API that I don't think would be possible with webdriver.

Cross browser testing is something that keeps coming up. I know that Firefox is working on supporting CDP which could mean that Taiko could work with Firefox in the future. Safari could still be something where Taiko does not work.

[2020-01-02 13:03] hungluong5791 commented on #343
Thank you for the explanation!

One more thing: from what I can gather, `cucumber-jvm` seems to handle Groovy/Geb binding by first adding all the reflected methods into a big class; while I understand `gauge-java` invoke the reflected methods separately - Geb does works if I put everything in a single script file.

Is this something `gauge-java` can change into or there should be a `gauge-groovy`

[2020-01-03 06:08] sriv commented on #343
I am not sure, I admit I'm not familiar with Geb.

However, if you are able to get geb/groovy working with gauge with some workaround/hack - feel free to propose what can be done in `gauge-java` to enable this support.

A separate plugin for groovy might mean more maintenance overhead, and I know there have been requests for other JVM languages (see #187 (Scala), getgauge/gauge#479 (Clojure), getg

[2020-01-03 11:53] hungluong5791 commented on #343
Alright, I got all the answer I need. I understand that authoring support is a major point to consider and Groovy is notorious for being hard on IDEs.

I will dig around some more for Geb support feasibility but for the moment guess I will have to find an alternatives.

Thank you very much!

[2020-01-03 11:53] #343 closed

[2020-01-10 11:35] Debashis9012 opened #348 "Custom screenshot Grabber takes blank screenshot"
### Expected behavior
On failure, custom screenshot grabber should take the correct screenshot.

### Actual behavior
It always attaches the empty screen under ./gauge/screenshot and inside the html-report.

### Steps to reproduce
1. unzip the below attached java_maven_selenium project
2. execute the script: `mvn test`

[testArti.zip](https://github.com/getgauge/gauge-java/files/4045385/testArti.zi

[2020-01-11 16:59] SeleniumTestAB opened #349 "Maven project with Gauge - Step implementation can not be found if it has args"
### Expected behavior
When in Maven project there is Spec file containing steps with arguments and proper Step class the Spec file should find those steps.

### Actual behavior
The Inteliji marks step implementation in Step class as incorrect (as if proper implementation does not exist because step have args)

### Steps to reproduce
1. Create Maven project and set Gauge in it
2. Create example.spe

[2020-01-13 08:36] nehashri opened #350 "Unable to capture screenshots if screenshot_on_failure is set to false"
**Expected Behaviour**
Custom screenshot should be captured even if screenshot_on_failure is set to false.

**Actual Behaviour**
Screenshot is not captured.

**Steps to Reproduce**
* Initialise a java project.
* Set the `screenshot_on_failure = false` in default.properties file.
* In a step implementation, try to capture custom screenshot by using `Gauge.captureScreenshot();`.
* Run the gauge proj

[2020-01-13 09:08] nehashri commented on #348
This seems to be an issue with the implementation.
The implementation is not correct in the gauge docs.

[2020-01-13 09:44] negiDharmendra commented on #348
Sample custome screenshot grabber class

**CustomScreenshotGrabber.java**
[code]

[2020-01-14 07:57] Debashis9012 commented on #348
This issue has been verified and found fixed.

[2020-01-14 07:57] #348 closed

[2020-01-14 08:48] negiDharmendra commented on #349
@SeleniumTestAB Are you facing the same issue with deafault Gauge Java maven project.
run `gauge init java_maven` to create a sample maven project.

[2020-01-14 11:40] SeleniumTestAB commented on #349
@negiDharmendra I did, and still issue is present. It can be problem with Inteliji plugin for gauge. Is there any update coming?

[2020-01-15 07:44] ajoecker commented on #349
I do not quite understand your problem.

Given a step in a spec that contains two parameters, it does not find the matching implementation ? or what ?

![2020-01-15 08_40_34-nexible-pricing  C__Users_ajoecker_dev_nexible-automated-tests  -  _frontend-s](https://user-images.githubusercontent.com/36064843/72414602-e9691980-3772-11ea-8db8-cf6888719f03.png)

which is fine for me.

[code]
with IntelliJ

[2020-01-15 08:28] SeleniumTestAB commented on #349
@ajoecker indeed. In my case the step in spec and step implementation in class (i speak only for example spec btw) are marked by inteliji that they have error. In spec error says that it can not find step implementation and in example step class the error is that step method should not have arguments. Furthermore, when i try to gwnerate step implementation from spec it doesnt do it.

[2020-01-15 08:30] SeleniumTestAB commented on #349
P. S. You use different version of gauge and java than I. So could you make this check on the newest version?

[2020-01-16 12:18] negiDharmendra commented on #349
@SeleniumTestAB Are you able to run gauge specs from command line?

[2020-01-16 14:18] SeleniumTestAB commented on #349
@negiDharmendra i did but then gauge did not recognize additional libs that i added to my pom(which is why i try to use java_maven).

[2020-01-16 16:30] haroon-sheikh opened #352 "Failed to start gauge API: fork/exec bin/gauge-java: bad CPU type in executable"
Since the upgrade to macOS Catalina, running gauge throws:

### Actual behavior
Error ----------------------------------

[Gauge]
`Failed to start gauge API: fork/exec bin/gauge-java: bad CPU type in executable`

Get Support ----------------------------
        Docs:          https://docs.gauge.org
        Bugs:          https://github.com/getgauge/gauge/issues
        Chat:          https://gitte

[2020-01-16 16:32] negiDharmendra commented on #349
@SeleniumTestAB are you able run gauge specs using maven from command line.

[2020-01-17 05:23] negiDharmendra commented on #331
@raducrisan1 Any update on this?

[2020-01-17 05:58] BugDiver commented on #352
@haroon-sheikh Can you make sure you have installed the right plugin (darwin-64)?
The reason I'm asking is macOS Catalina does not let 32-bit apps. So if you have mistakenly installed the 32 bit It will not work.

I'm working on macOS Catalina an I do not see this issue with a 64-bit plugin.
In case you have installed the right plugin and still, it does not work, maybe give us a little more detail

[2020-01-17 07:15] Debashis9012 commented on #350
Verified and found fixed.

[2020-01-17 07:15] #350 closed

[2020-01-17 10:29] SeleniumTestAB commented on #349
@negiDharmendra i did but then gauge did not recognize additional libs that i added to my pom(which is why i try to use java_maven).

[2020-01-17 16:25] haroon-sheikh commented on #352
After the upgrade to Catalina caused the errors above. Uninstalling and installing all plugins agains fixed the issue.

[2020-01-17 16:25] #352 closed

[2020-01-17 20:38] SeleniumTestAB commented on #349
I did test that and it finally worked. I first run command gauge init java_maven, then used mvn clean install and then with Inteliji i added some dependencies and run mvn clean install from IDE level and it works fine now. Thanks for help.

[2020-01-17 20:38] #349 closed

[2020-01-20 06:58] negiDharmendra commented on #339
@shanzee05 We will need more information to replicate the issue.

- run `gauge -v` on your terminal and share the output with us
- which os you are working on

[2020-02-03 08:02] Debashis9012 commented on #324
verified and tested.
`f4d95ac131724bf631e7b1d95182c7fbae9a6ee7`

[2020-02-03 08:02] #324 closed

[2020-02-10 10:00] Debashis9012 opened #364 "Java release 0.7.4"
These are the release activities to be performed when releasing Gauge java.

## Pre-release
- [x] Check all commits that have been added with this release and make sure the relevant issues are tested/closed.
- [x] Check if all relevant tests(FTs and LSP tests) are passing
- [x] Check the compatibility of the plugin with gauge and other plugins. Make sure gauge/other plugins are released if needed

[2020-02-10 13:51] #331 closed

[2020-02-12 05:44] sriv commented on #339
Closing this. Please comment when you get more information for us to help troubleshoot.

[2020-02-12 05:44] #339 closed

[2020-02-12 16:37] ed0906 opened #367 "Unable to use gauge-java with gauge gradle plugin: "Gauge or Java runner is not installed!""
### Expected behavior
When running `./gradlew clean build gauge` our gauge tests should run

### Actual behavior
[code]

### Steps to reproduce
1. `brew install gauge`
2. `gauge install java`
3. `./gradlew clean build gauge`

##### build.gradle.kts
[code]

### Gauge version
[code]

### Gradle version
[code]

[2020-02-13 13:42] coding-lama opened #368 "Failed to start gauge API: Timed out connecting to java"
After updating gauge to version 1.0.7 and updating gauge-java to 0.7.4 and html-report to 4.0.9, I am unable to run my tests.

### Expected behavior
Run all tests, and produce report

### Actual behavior
I get the following error
[code]

### Gauge version
[code]

[2020-02-13 14:10] cyberjaime45 commented on #368
Having a same issue, Had to went back to Gauge version: 1.0.5

[2020-02-13 14:44] zabil commented on #368
@cyberjaime45 @coding-lama Can one you please help in debugging this? Will appreciate it a lot if you can follow the steps in https://github.com/getgauge/gauge/issues/1380#issuecomment-585721962 to send some logs.

Please make sure the logs don't have any confidential info.

[2020-02-13 16:35] sriv commented on #368
hi @coding-lama and @cyberjaime45 - please can you check if your `build.gradle` points to the `0.7.4` version of `gauge-java`? It should look something like:

[code]

[2020-02-14 08:23] coding-lama commented on #368
@sriv yes, I had there ```compile "com.thoughtworks.gauge:gauge-java:0.6.9"```

I changed it to ```compile "com.thoughtworks.gauge:gauge-java:0.7.4"```

However after build attempt, it says  ```Could not resolve: com.thoughtworks.gauge:gauge-java:0.7.4```

[2020-02-14 11:01] sriv commented on #368
@coding-lama - are you seeing the error in a fresh project as well? Or have you noticed it only when upgrading?

[2020-02-14 11:04] sriv commented on #367
I created a sample yesterday - https://github.com/sriv/gauge-gradle-demo/

I saw the error you mention on windows, but that was because of my install script not adding the location of gauge in `PATH`. Once I set that, it started working.

You can see the run logs here: https://github.com/sriv/gauge-gradle-demo/actions/runs/39235968

Note that I am using gauge `1.0.7` and gauge-java `0.7.4`

[2020-02-14 13:26] coding-lama commented on #368
Since I am working on existing project only, so  during the upgrade only.

[2020-02-16 15:51] Borisakov opened #372 "Cannot run tests after upgrading Gauge version"
### Expected behavior
Tests should run

### Actual behavior
All the running tests are skipped

### Steps to reproduce
1. Upgrade the gauge-java version
2. Upgrade the gauge version
3. Upgrade the html-reoprt plugin version

- All the specs and concepts are getting "[ValidationError]   Step implementation not found => " error
- All the steps in the classes are getting "Add the following missing imp

[2020-02-16 17:04] sriv commented on #372
hi @Borisakov - if you are using gauge-java 0.7.4 - can you please check if your project uses the same `0.7.4` for gauge-java as it's dependency (either in `pom.xml` or `build.gradle`) ?

[2020-02-16 20:15] cyberjaime45 commented on #372
I'm having the same issue
https://github.com/getgauge/gauge/issues/1579

[2020-02-17 07:45] negiDharmendra commented on #372
@Borisakov If your **implementation** files are not inside `src/test/java` then try setting `gauge_custom_compile_dir` env varible in `<project-path>/env/default/java.properties` to the correct location.

[2020-02-17 07:50] Borisakov commented on #372
@sriv I'm using the same version in the runner and in the Gradle dependencies.
@negiDharmendra The files are in src/test/java/.....
I must say that it used to run in the previous version the same way. I didn't change anything.

[2020-02-17 07:52] negiDharmendra commented on #372
@Borisakov Is it possible for you to share a sample project where it is reporducible.

[2020-02-17 10:26] negiDharmendra commented on #367
Duplicate of getgauge/gauge-gradle-plugin#43

[2020-02-17 10:26] #367 closed

[2020-02-18 04:19] negiDharmendra commented on #368
@coding-lama Is it possible for you to share a sample project to reproduce this issue? It will be a greate help to debug and resolve this issue.

[2020-02-18 16:59] haroon-sheikh commented on #368
@negiDharmendra You can use this https://github.com/getgauge/gauge/issues/1581 to reproduce.

[2020-02-19 08:15] shanzee05 commented on #372
MacBook-Pro:assignment-testing z.akhtar$ mvn gauge:validate -DspecsDir=specs/nightlySpec
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building assignment-test 1.0-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- gauge-maven-plugin:1.4.0:validate (default-cli) @

[2020-02-19 08:18] shanzee05 commented on #372
<dependency>
            <groupId>com.thoughtworks.gauge</groupId>
            <artifactId>gauge-java</artifactId>
            <version>[0.6.8,)</version>
            <scope>test</scope>
        </dependency>

With latest version getting above error -  version 0.7.4
When i change it to  0.7.3  , not getting above error

[2020-02-19 08:36] zabil commented on #372
@shanzee05 can you share relevant sections of your pom file configuration?

[2020-02-19 08:43] negiDharmendra commented on #372
@shanzee05 Please make sure that the version of Gauge Java installed on the system is similer to the version of Gauge Java dependency mentioned in the pom file.

[2020-02-19 08:45] negiDharmendra commented on #372
@shanzee05 This issue happens when install version of Gauge Java is **<= 0.7.3**  and in the **pom.xml** it's 0.7.4

[2020-02-19 09:35] negiDharmendra commented on #368
@coding-lama If your implementaions are inside the `src/main/java` then please try setting `gauge_custom_compile_dir` env varible in `<project-path>/env/default/java.properties` to `src/main/java`

[2020-02-19 10:13] negiDharmendra opened #375 "Gauge specs execution should work properly when implementation files are inside src/main/java"
### Expected behavior
specs execution should work properly

### Actual behavior
Step implementation not found

### Steps to reproduce
1. create a sample Gauge Java project
2. move step implementaion from `src/test/java` to `src/main/java`
3. `gauge run`

### Gauge version
[code]

**Note:** works fine with gauge java 0.7.3. Refer to [this issue](https://github.com/getgauge/gauge/issues/1579) for mo

[2020-02-19 11:23] negiDharmendra opened #377 "If you are facing issues after upgrading to the latest version of Gauge 1.0.7 and Java 0.7.4"
Here is a list of reasons which might be causing these issues.

 **1.**  If your implementations are inside `src/main/java`

 **Error** - ~~Step implementation not found~~ (Fixed in 0.7.6)
 **Fix** - ~~Set `gauge_custom_compile_dir` env varible in `<project-    path>/env/default/java.properties` to `src/main/java`~~

**2.**  Mismatch of  Gauge Java version

run `gauge -v` on your terminal and chec

[2020-02-20 07:09] sriv commented on #377
perhaps this can also be reflected in troubleshooting: https://docs.gauge.org/troubleshooting.html

[2020-02-20 20:17] apurva94 commented on #368
+1

[2020-02-21 02:38] sriv commented on #368
@negiDharmendra put an issue with possible things to look at: https://github.com/getgauge/gauge-java/issues/377#issue-567501356

please check the below:
- gauge version should be `1.0.7`
- gauge-java (plugin) version should be `0.7.4`
- gauge-java(dependency) version should be `0.7.4` (this could be in your `pom.xml` or `build.gradle` files)

The above will ensure that the latest (as of date) vers

[2020-02-21 17:48] nvborisenko opened #378 "Plugin stops to see JAVA_HOME env variable"
Previously I executed specs via `gague run` and it worked.

After upgrading gauge to v1.0.7 and dependent java plugin, it says that `java is not recognizable program or ...`.

To resolve:
Add java bin path to `path` environment variable.

BUT
`JAVA_HOME` is set.

[2020-02-24 05:47] negiDharmendra commented on #378
@nvborisenko Please make sure that the path to `java` executable is available in the `PATH` env

[2020-02-24 05:59] sudhindra-aithal opened #380 "MacOS - java.util.MissingFormatArgumentException: Format specifier '%s'"
Format specifier '%s'
java.util.MissingFormatArgumentException: Format specifier '%s'
at java.base/java.util.Formatter.format(Formatter.java:2672)
at java.base/java.util.Formatter.format(Formatter.java:2609)
at java.base/java.lang.String.format(String.java:3274)
at com.thoughtworks.gauge.connection.GaugeConnector.connect(GaugeConnector.java:45)
at com.thoughtworks.gauge.connection.GaugeConnector.m

[2020-02-24 06:26] sudhindra-aithal commented on #380
Upgrading plugin java version and pom xml, fixed the issue

[2020-02-24 06:26] #380 closed

[2020-02-24 07:55] kokavolchkov opened #381 "Connection to runner with Pid 19604 lost. The runner probably quit unexpectedly. Inspect logs for potential reasons. Error : read tcp 127.0.0.1:50374->127.0.0.1:50377: use of closed network connection"
### Expected behavior
The example.spec is run successfully

### Actual behavior
The "Connection to runner with Pid 19604 lost. The runner probably quit unexpectedly. Inspect logs for potential reasons. Error : read tcp 127.0.0.1:50374->127.0.0.1:50377: use of closed network connection" error appears when I run the example.spec

### Steps to reproduce
1. Install the Intellij Idea on the PC (Windows

[2020-02-24 08:01] kokavolchkov commented on #381
### Log

24-02-2020 08:51:20.341 [Gauge] [DEBUG] Plugin java is already installed.
24-02-2020 08:51:20.351 [Gauge] [DEBUG] Plugin html-report is already installed.
24-02-2020 08:51:20.490 [java] [DEBUG] classpath set to C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2019.3.2\jbr!\java.base;C:\Program Files\JetBrains\IntelliJ IDEA Community Edition 2019.3.2\jbr!\java.compiler;C:\Program

[2020-02-24 19:57] nvborisenko commented on #378
I see your point. Doesn't matter that it worked with previous version. Thx.

[2020-02-25 02:01] sriv commented on #378
@nvborisenko is right. gauge-java `0.7.3` and below used a [golang based launcher](https://github.com/getgauge/gauge-java/blob/v0.7.3/gauge-java.go), which used to check for [`JAVA_HOME`](https://github.com/getgauge/gauge-java/blob/v0.7.3/gauge-java.go#L39) and [`gauge_java_home`](https://github.com/getgauge/gauge-java/blob/v0.7.3/gauge-java.go#L38) env vars for the java toolchain.

`0.7.4` got ri

[2020-02-25 06:36] #364 closed

[2020-02-25 07:01] BugDiver commented on #381
@kokavolchkov Can you please upgrade `gauge` and `gauge-java` to the latest versions and check if that fixes the issue? Also if you are using maven/Gradle please upgrade `gauge-java` dependency version as well.

[2020-02-25 07:55] kokavolchkov commented on #381
@BugDiver I have updated the gauge version:

[code]
**And this error message is gone:** "Connection to runner with Pid 19604 lost. The runner probably quit unexpectedly. Inspect logs for potential reasons. Error : read tcp 127.0.0.1:50374->127.0.0.1:50377: use of closed network connection"

**But.** Update leads to this error: https://github.com/getgauge/gauge/issues/1591

**So, to sum up:** In my

[2020-02-27 08:59] Borisakov commented on #372
I cannot make it... do you need more details?

[2020-02-27 11:40] coding-lama commented on #368
@negiDharmendra the thing is I am using kotlin to implement the specs, the implementation in my project is in "src/test/kotlin"
Its looks like gauge is looking for implementation in "src/main/java"; I know this because I am getting the following error:

[code]
Then I see Validation Errors on all of the specs i have already implemented.

I also tried to set the gauge_custom_compile_dir parameter to

[2020-03-03 05:49] NivedhaSenthil commented on #381
Closing this as the actual issue mentioned is solved.

[2020-03-03 05:49] #381 closed

[2020-03-03 20:54] alpha1592 commented on #236
I was using Gauge-Java v0.7.2 and was able to find @Steps defined in Maven Dependencies (Jars).
I recently upgraded to Gauge-Java v0.7.4, Gauge v1.0.7 and html-report v4.0.9 and now unable to find implementations. The IntelliJ plugin does not show red lines, which means its detecting that an implementation is there. However, The implementations are not picked up at runtime.

Can you provide some u

[2020-03-04 04:34] NivedhaSenthil commented on #372
@Borisakov may we know if you have implementations written in kotlin ? similar issue which we could replicate https://github.com/getgauge/gauge-gradle-plugin/issues/43

[2020-03-04 06:48] Borisakov commented on #372
@NivedhaSenthil Yes, my implementations are written in Kotlin.

[2020-03-04 09:09] NivedhaSenthil commented on #368
@coding-lama  Thanks for digging up and giving more relevant details I could replicate the issue with step implementations written in kotlin, we will be fixing this soon

[2020-03-05 12:12] #375 closed

[2020-03-06 05:57] NivedhaSenthil opened #390 "JVM based language like Kotlin does not work on 0.7.4"
### Expected behavior
Step implementations written in kotlin to work fine in maven project.

### Actual behavior
Throws validation error as steps are not recognised

### Steps to reproduce
Convert java implementation files to kotlin in https://github.com/getgauge-examples/java-maven-selenium and run spec.

### Gauge version
[code]

#### Dev note
cc: @BugDiver
When we implemented the LSP features,

[2020-03-06 05:59] NivedhaSenthil commented on #372
closing this to merge all kotlin related issues in https://github.com/getgauge/gauge-java/issues/390

[2020-03-06 05:59] #372 closed

[2020-03-06 05:59] NivedhaSenthil commented on #368
closing this to merge all kotlin related issues in #390

[2020-03-06 05:59] #368 closed

[2020-03-06 09:24] negiDharmendra opened #391 "Creating a step implementation in an empty class does not work."
### Expected behavior
While authoring Gauge Specs in vscode. Users should be able to create a step implementation inside an empty class.

### Actual behavior
Filas with
[code]

### Steps to reproduce
1. Create a new Gauge java project and open it in vsocde.
   **Note:**  [gauge-vscode](https://github.com/getgauge/gauge-vscode) plugin is required for authouring Gauge specs.
2. Create a empty class.

[2020-03-12 18:11] alpha1592 commented on #377
HI,

i am getting issues with Step implementation not being found after upgrading to v1.0.7 and 0.7.4 of Gauge Java.
i added the `gauge_custom_compile_dir` to java.properties but it throws an exception attached below. Most of my steps are in Jar files imported using maven as dependencies. Those are not being picked up at all. In the past, i never had to add the custom compile directory. Everything

[2020-03-16 05:44] sriv commented on #377
Would you be able to share a project that you see this issue with @alpha1592 ?

[2020-03-17 06:52] #95 closed

[2020-03-17 17:57] alpha1592 commented on #236
I have confirmed this issue. Here are the details.
From what i can gather, the Step Validation occurs before the scanning of the Test Steps. The scanning actually does pick up the steps in the Jars, but the verification, because it happens before throws and error and tells the user to implement the steps..

Below are the snippet of importance (IMO) and you can see from the timestamp, that the vali

[2020-03-23 17:06] sriv opened #402 "Powershell launcher errors on big classpath"
### Expected behavior
Gauge java project should run successfully

### Actual behavior
Gauge-java's `launcher.ps1` tries to set the CLASSPATH as an environment variable, and for some projects this can exceed the limit set by the OS/shell and result in error such as reported here: https://spectrum.chat/gauge/general/could-not-find-or-load-main-class-com-thoughtworks-gauge-gaugeruntime~df3528dc-82a6-

[2020-03-25 12:31] #378 closed

[2020-03-25 13:11] alpha1592 commented on #236
Hi,
Any idea when this issue will be resolved / next release will be? I am heavily affected by the HTML-report plugin defect related to proto-message and would love to upgrade to try and resolve that issue. But I cannot as this will be a show stopper for my team.

[2020-03-25 13:26] sriv commented on #236
hi @alpha1592 - we fixed this issue for gauge-dotnet recently, and we will pick this up soon. Unfortunately, we don't have any timelines at this point.

[2020-03-25 14:29] alpha1592 commented on #236
Thanks, I appreciate it.

[2020-03-26 10:15] #391 closed

[2020-03-26 12:30] coding-lama commented on #390
Hi team, any updates or estimates when this issue will be resolved? We are stuck with the old version of gauge and its causing issues in reports...
Thanks.

[2020-03-26 19:02] zabil commented on #390
You can check the priority(order under "Ready for Development) and progress of this issue at
https://github.com/orgs/getgauge/projects/6

[2020-04-01 17:38] jbadeau opened #409 "all SubConns are in TransientFailure, latest connection error: connection error"
### Expected behavior
Tell us what should happen

Running test in

### Actual behavior

[[1;34mINFO[m]
[[1;34mINFO[m] [1m--- [0;32mgauge-maven-plugin:1.4.2:execute[m [1m(default-cli)[m @ [36mtodo-srv-spec[0;1m ---[m
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#St

[2020-04-02 09:34] jbadeau commented on #409
not reproducible anymore so can close

[2020-04-02 09:34] #409 closed

[2020-04-02 10:01] sriv commented on #409
The most common cause for `all SubConns are in TransientFailure` is because the gauge-js runner process quit unexpectedly (could be because of user code, or because of environmental issues).

We will improve the reporting on this.

[2020-04-06 05:56] #402 closed

[2020-04-06 10:28] coding-lama commented on #390
Hi team, I see that new gauge-java 0.75 is out, however it does not look like this issue was solved in that version. Can anybody from the devs confirm please?
Thanks.

[2020-04-06 10:39] sriv commented on #390
Yes, this issue is still to be resolved. You can see the changelog for `0.7.5` here - https://github.com/getgauge/gauge-java/releases/tag/v0.7.5

[2020-04-06 14:04] olejkavn commented on #236
@sriv  do you have any updates about gauge-java?

[2020-04-06 14:37] whipermr5 opened #414 "Broken Java version detection in 0.7.5 on linux"
Gauge-Java 0.7.5 doesn't seem to detect Java version correctly on linux systems, failing with an unsupported Java version error.

### Steps to reproduce
`docker run --rm -it gradle:6.3.0-jdk11 bash -c 'wget -O gauge.zip https://github.com/getgauge/gauge/releases/download/v1.0.8/gauge-1.0.8-linux.x86_64.zip && unzip gauge && ./gauge install java --version 0.7.5 && ./gauge init java && ./gauge run s

[2020-04-07 03:40] sriv commented on #414
this is caused by a bug in `launcher.sh` which does not handle versions well.

[2020-04-07 05:27] #414 closed

[2020-04-07 05:52] sriv commented on #414
@whipermr5 - please try with the latest release - 0.7.6

[2020-04-07 11:09] whipermr5 commented on #414
@sriv It's working now! Thank you!!

[2020-04-08 08:32] Dmitriy85 commented on #236
@sriv any approximate dates? This issue is blocking us from move a huge api test solution to new version of gauge. Please provide any info.

[2020-04-08 08:48] sriv commented on #236
@alpha1592 @olejkavn @Dmitriy85  - I've picked this up, will post updates once I make progress.

[2020-04-09 13:11] sriv commented on #236
Update - I have changes that enables executing a project with steps defined in an external dependency.

The challenge is to get gauge-vscode to detect this dependency and not mark them as unimplemented.

[2020-04-13 03:30] jnlabs opened #418 "GRPC transport error when running gauge behind proxy"
### Expected behavior
Gauge test running in a docker container should run all specs behind proxy (set HTTP_PROXY with value http://<proxy_host>:<proxy_port>)

### Actual behavior
Only a few test is executed due gauge grcp error. Please see below error logs from guage.log

[code]

### Steps to reproduce
1. Create a guage test project using gauge-java gradle
2. Create a docker image
3. Run image beh

[2020-04-20 05:35] jnlabs commented on #234
issue occurs in gauge-java 0.7.6

[2020-04-20 14:54] taplar commented on #377
[code]

I've upgraded my box to JDK 11 in preparation for upgrading gauge -java to the latest version (due to the deprecation), however I'm running into a different issue than the ones listed in this thread.  As soon as I upgrade from gauge-java `gauge-java-0.7.3-windows.x86_64.zip` to `gauge-java-0.7.4.zip` it appears that gauge stops being able to find our included libraries.  This behavior pers

[2020-04-21 06:27] BugDiver commented on #377
@taplar We had mistakenly introduced a bug in 0.7.4.  A PR https://github.com/getgauge/gauge-java/pull/419 addressing that issue has been already merged.
We will try to push a release with the fix as soon as possible

[2020-04-21 12:22] sriv commented on #234
@jnlabs - I am unable to replicate this:

[code]

See project attached, it has two `env`, one with `package_to_scan` set.
[foo.zip](https://github.com/getgauge/gauge-java/files/4509908/foo.zip)

[2020-04-22 07:37] Dmitriy85 commented on #236
Hi @sriv. Do you have any blockers regarding the merge of the PR? Any approximate dates for the release with this changes? Thanks in advance!

[2020-04-22 08:37] sriv commented on #236
hi @Dmitriy85 - need to do some testing. We'll try to make a release by next week.

[2020-04-24 04:36] #236 closed

[2020-04-24 04:36] #390 closed

[2020-04-25 15:09] coding-lama commented on #390
Hey guys, congrats on solving this issue, when will this fix be available for us to use?
Thanks in advance.

[2020-04-27 05:24] NivedhaSenthil opened #429 "External library added in libs folder should be referred in windows"
### Expected behavior
External libraries added in libs folder should be referred when specified in properties file as below
`gauge_additional_libs = libs/*`

### Actual behavior
Libraries are not referred and throws package does not exists error.

Linked https://github.com/getgauge/gauge-java/issues/377#issuecomment-616606623 ,

### Gauge version
[code]

[2020-04-27 16:07] taplar commented on #429
Related to https://github.com/getgauge/gauge-java/pull/419#discussion_r413974030

While the resolution of the `gauge_additional_libs` should be addressed, should there be a consideration made for a pre-defined directory in a project that would always be included on the classpath to potentially reduce its size?  Currently, this type of logic is being done in the `launcher.ps1 > AddRunnerInClassPath

[2020-04-28 07:54] mtheiss opened #431 "Gauge Runner adds only the first library in libs/ to the classpath"
### Expected behavior
When gauge run is executed, all libs should be added to the classpath.

### Actual behavior
Only the first library in libs/ is added to the classpath.
This doesn't work, because bash has very often the path expansion turned on.

### Steps to reproduce
1. Add two libraries in libs/
2. Add "set -x" to launcher.sh
3. Execute "gauge run"

### Gauge version
[code]

[2020-04-28 07:55] mtheiss commented on #431
[code]

[2020-04-29 11:25] sriv commented on #390
gauge-java 0.7.7 is released. Please check.

[2020-05-04 13:09] olejkavn commented on #297
Hi! any updates about this point?
I have java+spring project
My use case for this stuff it's spring context initialization
Now I move my context initialization to static block.
But in this case Context start twice.
1st time on gauge validation phase
2nd during test execution

It's produce situation when I can't scale my test count without gauge timeouts change

[2020-05-04 14:53] coding-lama opened #434 "Failed to start gauge API: Timed out connecting to java"
After upgrading gauge and plugins to latest version, I am unable to run my specifications in docker. I do remove all containers before I use them (fresh start every time)

### Expected behavior
Gauge should execute all specifications in question

### Actual behavior
specifications-executed_1  | > Task :gauge
specifications-executed_1  | Task ':gauge' is not up-to-date because:
specifications-execu

[2020-05-05 06:50] sriv commented on #434
Hi - can you try updating gauge to the latest (i.e. 1.0.8)?

I have a demo project, and I added docker build to it, and it works fine.

Project: https://github.com/sriv/gauge-gradle-demo/

Docker action output: https://github.com/sriv/gauge-gradle-demo/runs/645171359?check_suite_focus=true

[2020-05-05 09:40] coding-lama commented on #434
Actually, I think the issue might be related to parallel run. I will try with the latest gauge version as suggested

[2020-05-05 12:11] sriv commented on #297
This is a bug, unfortunately due to the way gauge is designed (see [comment](https://github.com/getgauge/gauge-java/issues/297#issuecomment-527741315)).

This isn't the way it should be, but it will require some work to sort this out. So far the biggest limitation has been that Gauge supports parallelization by spinning up multiple runner instances.

We will be picking this up.

[2020-05-05 12:13] olejkavn commented on #297
@sriv maybe you have some kind of workaround for this stuff? like some property or somewhere else

[2020-05-05 13:00] sriv commented on #297
Nothing that i can think of, i'm afraid. This will require some code changes.

[2020-05-06 12:58] coding-lama commented on #434
Hi,

Updated to gauge 1.0.8, gauge-java 0.7.7 and html-report 4.0.10.
I am able to run a dockerized repository, where I don't utilize selenium/webdriver without any issues. However when I try the same image on a repo with selenium, it gives me the same error... To get more information, I enabled stacktrace option:

specifications-executed_1  | Error ----------------------------------
specification

[2020-05-06 13:49] zabil commented on #434
Do you mean using `gauge init java_maven_selenium`? If not can you share something to replicate this with selenium? It can be something around selenium initialisation and unfortunately the logs provided here does not seem to point to the right issue.

If `gauge init java_maven_selenium` works you can use that as reference to see how to add selenium.

[2020-05-06 15:40] coding-lama commented on #434
I have built a docker image which already contains gradle 5.6.4, gauge 1.0.8, gauge-java 0.7.7, html-report 4.0.10 and I am running the specifications in this container. I also have 3 repositories two which automate webpages (using selenium) and one repo which tests an API. The one that tests API and does not utilize selenium/webDriver is working OK with the latest version of gauge and plugins. Th

[2020-05-07 19:30] trung opened #436 "launch.sh should use #!/bin/sh instead of #!/bin/bash"
In a lightweight container like alpine, bash is not installed by default. Running gauge-java plugin would cause: `Failed to start gauge API: fork/exec launcher.sh: no such file or directory`

It would be more portable if we make sure `launch.sh` use `#!/bin/sh` instead

[2020-05-08 17:41] alpha1592 opened #437 "Excessive Empty lines in logs"
### Background
In previous version of Gauge `v1.0.6` with Gauge-Java `v0.7.2`, gauge would output to the console one line at a time. It would also add **P** for Pass for each step executed on the same line. This would save space and make the logs relatively readable.

### Expected behavior
Proper logs without excessive new lines and without empty lines.

### Actual behavior
There is an excessive a

[2020-05-09 21:40] MariusSchmidt opened #438 "Can't reduce the log-level using gauge-cli, idea plugin or maven-plugin"
### Expected behavior
The execution of the plugin currently overwhelms my console test result output with a lot of debug output. If I call gauge with --log-level=info, the java plugin should also respect this setting for the libs it uses.

### Actual behavior
Execution spams hundred of debug lines

Testing started at 23:34 ...
/usr/local/bin/gauge run --machine-readable --hide-suggestion --simple-

[2020-05-11 08:14] zabil commented on #438
This log level is for Gauge's logging. Unfortunately, Gauge can't control the project's log level. From the logs you posted, these are logs from `io.grpc.netty.shaded.` package. Newer versions of gauge-java uses gprc. Your root logger (using slf4j) maybe set to `DEBUG`, resulting in grpc related library using that configuration.

To solve this problem, please set the default log level of your proj

[2020-05-13 09:53] BugDiver commented on #437
Al tough the latest version of java shows this,  issue actually belongs to gauge.
Gauge intercept runner's stdout/stderr,  print it on console, and add a formated log entry to log files.
To do this it also handle the multiple log entries (some time multiple log entries comes in one chunk on stdout/stderr) by splitting it by new line. The different newline encoding on different os is causing this i

[2020-05-19 09:34] #297 closed

[2020-05-20 06:30] #436 closed

[2020-05-22 09:31] NivedhaSenthil commented on #431
@mtheiss can we know if the issue fixed as part of the PR and if so can this be closed ?

[2020-05-22 14:09] mtheiss commented on #431
@NivedhaSenthil yes, you can close this issue

[2020-05-22 14:09] #431 closed

[2020-05-26 01:27] anirudh83 opened #447 "Add Lambda Expression support for Java Step Implementations"
### Feature Enhancement Request

#### Add lambda expression support for Java Step Implmentations

For e.g. we should be able to define our steps like this
[code]

#### This will enable the people using gauge to write functional code, as supported in Java 8 and above.

[2020-05-26 02:46] anirudh83 commented on #447
Hi Sriv,
I would be happy to contribute :)

[2020-05-26 05:32] sriv commented on #438
- `gauge init java`
- `gauge run --machine-readable --hide-suggestion --simple-console --log-level=info`

gives me this:

[code]

[code]

[2020-05-28 08:56] #438 closed

[2020-06-04 14:42] haroon-sheikh opened #455 "Failed to start gauge API: Timed out connecting to java (1.1.1)"
### Describe the bug
Getting loads of these error when running on the latest version of gauge and gauge-java

### What command(s) did you run when you found the bug?

For e.g.
[code]

### Output, stack trace or logs related to the bug

[code]

### Versions

#### Gauge (Output of `gauge -v`)

[code]

#### Node.js/Java/Python/.Net/Ruby version

#### Operating System information
OSx

#### IDE informa

[2020-06-06 15:55] shanzee05 opened #454 "launcher.sh: line 205: can't create : nonexistent directory"
Getting below issue from today
[INFO] --- gauge-maven-plugin:1.4.3:execute (default-cli) @ assignment-test ---
mktemp: Invalid argument
launcher.sh: line 205: can't create : nonexistent directory
Error occurred while waiting for runner process to finish.
Error : exit status 1
Error ----------------------------------
Your Environment Information -----------
linux, 1.1.1, 6e0d83f
html-report (4.0.11

[2020-06-08 03:04] sriv commented on #454
possibly due to https://github.com/getgauge/gauge-java/pull/422

[2020-06-08 03:07] sriv commented on #454
@shanzee05 - can you give us some information on what environment you are seeing this error?

if it's docker - would you be able to share the image used?

if it's a desktop/vm - what distro are you on?

you can run `cat /etc/*-release` to get the above information. Thanks.

[2020-06-08 07:51] shanzee05 commented on #454
Can't share the image , its alpine base image and other dependencies are installed on top of it .

bash-5.0# cat /etc/*-release
3.11.3
NAME="Alpine Linux"
ID=alpine
VERSION_ID=3.11.3
PRETTY_NAME="Alpine Linux v3.11"
HOME_URL="https://alpinelinux.org/"
BUG_REPORT_URL="https://bugs.alpinelinux.org/"

[2020-06-08 07:57] zabil commented on #454
Unfortunately Gauge is not tested on alpine docker images. Can you try using ubuntu or debian based images?

[2020-06-08 08:04] shanzee05 commented on #454
I have been using it successfully for few months now (gauge-java 0.7.4 and gauge v1.0.8 )- faced issue only after latest updates(Gauge and gauge-java latest version)
I reverted to

[2020-06-08 08:28] zabil commented on #454
Ok, thanks for verifying that will look into fixing this.

[2020-06-08 09:13] sriv commented on #454
I can confirm that this is an issue with gauge-java 0.7.8 on alpine based images.

### Steps to replicate

- `docker run -it  openjdk:15-jdk-alpine3.11 /bin/sh`
- `apk --no-cache add curl`
- `curl -SsL https://downloads.gauge.org/stable | sh`
- `mkdir foo && cd $_`
- `gauge init java`
- `gauge run specs`

Running specs on this image throws:

[code]

[2020-06-09 05:47] BugDiver commented on #455
TLDR;
The gauge-java `launcher` (shell/pwsh scripts) having difficulties while computing the classpath, causing ☝️ issues.

Earlier we fixed an issue to support external libraries (jar files in the lib). To do so gauge-java start populating the `step-registry` via reflection along with static parsing of existing source files. Now in order to get external libs reflected it needs to in the classpath

[2020-06-16 09:52] BugDiver commented on #455
@haroon-sheikh As discussed with the @getgauge/core We have decided to bring back the golang launcher (It was there prior 0.7.4, ref https://github.com/getgauge/gauge-java/issues/324).

After 0.7.4 we have faced a lot of issues related to the launcher scripts, due to the limitation of shell/pwsh. And the launcher has evolved a bit as well (version check etc), which is quite error-prone in sh/pwsh.

[2020-06-17 07:51] BugDiver commented on #455
@haroon-sheikh The test artifacts are available (https://github.com/getgauge/gauge-java/suites/806799454/artifacts/8766219).  Please download and install the platform-specific plugin. Due to limitations of Github Actions I could not upload the artifacts as separate files so You have to download the whole folder and use the plugin suitable to your platform (Apologies).

[2020-06-17 08:08] haroon-sheikh commented on #455
Thanks @BugDiver. I've now installed this, no issues so far with the initial runs. Will let you know if there's any.

[2020-06-17 09:43] BugDiver commented on #455
@cyberjaime45 Forgot to loop you in. Could you also verify if it's working for you?

[2020-06-17 18:53] haroon-sheikh commented on #455
Hi @BugDiver, Unfortunately, I'm still seeing the errors with the fix build:

[code]

[2020-06-18 09:48] haroon-sheikh commented on #455
@BugDiver I've noticed this happens more often when `enable_multithreading` is set to false. But seeing issues with it when set to true also.

[2020-06-19 08:07] BugDiver commented on #455
@haroon-sheikh That's weird. I tried replicating it but worked well for me.
From the logs, it looks like the gauge is not able to start/connect with the plugins.
Could you please follow these steps to check if the plugins are able to start?
Run all the steps inside the gauge project.

* Collect mvn classpath in file (Run mvn dependency:build-classpath -Dmdep.outputFile=cp.txt`
* `gauge_custom_clas

[2020-06-22 09:36] haroon-sheikh commented on #455
@BugDiver I'm seeing the same error when running this `gauge_custom_classpath=$(cat cp.txt) GAUGE_PROJECT_ROOT=$(pwd) $HOME/.gauge/plugins/java/0.7.9/gauge-java --start`

[code]

[2020-06-23 05:27] BugDiver commented on #455
@haroon-sheikh The errors which you are seeing is
* The `failed to get full path for` is because the launcher tries to find the absolute path using the PATH env, if it fails it uses the literal word (gauge,mvn etc). I do not think thats the problem,
* `Installed version of gauge-java (0.7.9)` is because the launcher and mvn dep has diff version Which is also not an huge issue.

Do you see anything

[2020-06-23 09:23] haroon-sheikh commented on #455
Running `gauge_custom_classpath=$(cat cp.txt) GAUGE_PROJECT_ROOT=$(pwd) $HOME/.gauge/plugins/java/0.7.9/gauge-java --start` shows `Listening on port: SOME_PORT`

However, running the actual tests `gauge run specs/` is just throwing `Failed to start gauge API: Timed out connecting to java`.

[2020-06-26 08:52] BugDiver commented on #455
@haroon-sheikh Unfortunately I'm not able to replicate it on my end. Could you please create and a sample project where you are able to replicate it. You can also dockerize that project and share the image.

[2020-06-26 09:13] haroon-sheikh commented on #455
@BugDiver Unfortunately, I'm not able to share the project. And not able to work out, what's different in this project that could cause this so that I'm able to create a sample project.

Is there anything else that I can do to provide further debugging?

[2020-06-26 09:19] BugDiver commented on #455
We understand this and that's the reason I'm asking a sample project, which needs not a full-blown project.

We can't say if it's a project related thing. I'm asking for a project (where you are able to replicate the same error) so that we can figure it out. Best if you can dockerize it (You should be able to get the error inside the docker container), that way we can eliminate machine specifics

[2020-06-26 09:27] haroon-sheikh commented on #455
@BugDiver Can we jump on a call maybe?

[2020-06-26 09:48] BugDiver commented on #455
@haroon-sheikh Sure. We can discuss the timing and medium personal spectrum chat.

[2020-06-26 17:05] jonathangiber opened #466 "gauge doesn't init automatically in multi-module project"
I created a maven multi-module project with java and gauge.
Example:
automation-tests (root)
automation-infra (parent)
module-a (child - gauge)
module-b (child - gauge)

All the steps in both modules were displayed as not implemented in mac laptops, in windows everything worked as expected.
The solution was performing gauge init for every module.

Gauge version: 1.1.1
Plugins
-------
html-report (

[2020-06-29 02:53] sriv commented on #434
hi @coding-lama - is this still an issue?

For those projects that have problem running on docker, do you see any errors in `gauge.log`?

[2020-06-29 11:14] haroon-sheikh opened #468 "Scenario Datastore not getting the correct values when run in parallel"
### Expected behavior
Each scenario uses its own thread for accessing the datastore.

### Actual behavior
Scenario Datastore not getting the correct values when run in parallel and enable_multithreading is set to true.

### Steps to reproduce
1. Create 2 specs with a scenario each
2. Both scenarios to save an item to datastore using the same key
3. Assert in scenarios to validate the key for each

[2020-06-29 11:21] haroon-sheikh commented on #468
Maybe related to #455

[2020-06-29 13:55] madamore commented on #455
Trying to debug, running single spec:
Openjdk 11
intellij (2020.1.2 Community) + intellij gauge plugin 0.3.21
gauge 1.1.1 + java plugin 0.7.8 + maven gauge-java 0.7.8 = Failed to start gauge API: Timed out connecting to java
gauge 1.1.1 + java plugin 0.7.7 + maven gauge-java 0.7.7 = Works properly

[2020-06-29 19:08] haroon-sheikh commented on #455
@madamore can you try setting `enable_multithreading=false` and see if that fixes for you.

[2020-06-29 19:14] madamore commented on #455
It was already set as "enable_multithreading=false"

[2020-06-29 20:57] haroon-sheikh commented on #455
Have you tried changing to true if that makes a difference?

[2020-07-05 18:18] haroon-sheikh commented on #468
@sriv After a bit investigation, it looks like this problem is when you're using dynamic parameters as a table. And for each row, scenario writes to scenario datastore using the same key, its not always getting the correct response back depending on the row of dynamic table.

[2020-07-07 07:42] coding-lama commented on #434
Hi sriv, yes it is still an issue, actually it is the reason why we are still using gauge 1.0.5 and gauge-java 0.7.3 as the newer version are not usable for us until this issue is resolved.

[2020-07-08 07:56] haroon-sheikh commented on #468
Think the issue is happening since https://github.com/getgauge/gauge-java/pull/433

[2020-07-08 08:10] sriv commented on #468
thanks for digging up @haroon-sheikh - #433 had to be done because otherwise the footprint of gauge-java was way too high.

What is the behaviour if you checkout 697d487523d3d56642d32382d8cdfaca09cd9685 and install gauge-java from source?

[2020-07-08 12:41] sriv commented on #434
thanks for confirming. We are making some changes to the gauge launcher. Is it ok if I request you to install a pre-release (once we have a build out) version and try with the latest gauge?

We've realized that there could be different reasons for the failure, and as a first step we'd like to enable some logs which can help diagnose better.

[2020-07-13 06:45] BugDiver commented on #279
Works fine with Gauge 1.1.1 and Gauge-Java 0.7.8

[2020-07-13 06:45] #279 closed

[2020-07-13 11:55] coding-lama commented on #434
Yes, I will need a little help with that though, is there some guide how to instal other that by using the "gauge install <plugin>"?
Thanks

[2020-07-13 13:44] haroon-sheikh commented on #468
@sriv I've validated that 697d487 and 0.7.7 is working fine. As soon as we upgrade to 0.7.8, we start seeing the issues with datastore.

[2020-07-15 05:13] BugDiver commented on #418
@jnlabs I have tried to replicate it, but no luck. The execution happened as expected.
Also, it looks like you are using a quite old version of Gauge and plugins. Since then there have been many changes/fixes to gauge and plugins

Could you please verify if this issue is still relevant with the latest releases?

[2020-07-15 06:57] madhavabk commented on #455
I have gauge 1.1.1 using IntelliJ editor.
It fails with message
This version of gauge-java plugin does not support Java versions < 1.9
Please upgrade your Java version or use a version of gauge-java <= v0.7.4

Now i installed java 1.9 and put path in java.properties file
After this it will fail with message use gauge-maven-plugin 1.4.3 or greater

Now i change pom to use 1.4.3 instead my earlier 1

[2020-07-15 08:31] sriv commented on #455
@madhavabk - do you see anything in the logs? inspect your logs folder and see if there are errors.

Also please ensure that once you upgrade gauge-java plugin, your pom/gradle references are also up-to-date.

[2020-07-15 08:33] sriv commented on #455
An update to those who are following this issue - @haroon-sheikh and I have been troubleshooting offline, and we seem to have found a cause. Will post more when there's a fix/workaround.

[2020-07-15 12:51] jnlabs commented on #418
@BugDiver, unfortunately we modify our test execution due to this issue and cannot verify right now. You may try running your test in an environment where theres no internet connectivity and requires proxy to be setup to connect to the internet.

[2020-07-21 10:41] zabil commented on #23
Closing this as an old issue. However, any PR's to fix this will be merged.

[2020-07-21 10:41] #23 closed

[2020-07-21 12:58] zabil commented on #77
Closing this as Gauge will not be implementing this feature.

[2020-07-21 12:58] #77 closed

[2020-07-21 12:58] zabil commented on #67
Closing this as an old issue. This may be fixed in the newer releases.
Will reopen if it still needs fixing.

[2020-07-21 12:58] #67 closed

[2020-07-21 13:03] zabil commented on #99
Closing this as an old issue. This may be fixed in the newer releases.
Will reopen if it still needs fixing.

[2020-07-21 13:03] #99 closed

[2020-07-21 13:04] zabil commented on #100
Closing this as an old issue. This may be fixed in the newer releases.
Will reopen if it still needs fixing.

[2020-07-21 13:04] #100 closed

[2020-07-21 13:07] sriv commented on #468
@haroon-sheikh gauge-java 0.7.9 [is out](https://github.com/getgauge/gauge-java/releases/tag/v0.7.9) and has some changes/improvements.

Please check if this issue persists in this version. I could not see this issue on a gauge-java-maven project using `0.7.9`

[2020-07-21 13:12] sriv commented on #455
Hi, we just released gauge-java `0.7.9`. It should be available in maven-central in a while.

This release has some improvements in the way the java runner is launched. It also adds more logs when run with log-level=debug.

If you still face this issue of `Failed to start gauge API: Timed out connecting to java` then, please run with `--log-level=debug` and:

- inspect your logs directory for `gau

[2020-07-21 13:14] #131 closed

[2020-07-21 13:19] zabil commented on #135
Closing this as an old issue. This may be fixed in the newer releases.
Will reopen if it still needs fixing.

[2020-07-21 13:19] #135 closed

[2020-07-21 13:20] zabil commented on #137
Closing this as an old issue. This may be fixed in the newer releases.
Will reopen if it still needs fixing.

[2020-07-21 13:20] #137 closed

[2020-07-21 13:24] zabil commented on #154
Closing this as an old issue. However, any PR's to fix this will be merged.

[2020-07-21 13:24] #154 closed

[2020-07-21 13:27] zabil commented on #162
Closing this as an old issue. However, any PR's to fix this will be merged.

[2020-07-21 13:27] #162 closed

[2020-07-21 13:34] haroon-sheikh commented on #455
@sriv @NivedhaSenthil `gauge install java` is installing 0.7.8 and `gauge install java --version=0.7.9` is not found. Do you know how long it takes before it's available?

[2020-07-21 13:40] zabil commented on #180
Unfortunately csv files must be loaded while parsing the spec files and must be deterministic. The workaround is generating a csv file based on the environment to the location referred to in the spec before running gauge tests.

[2020-07-21 13:40] #180 closed

[2020-07-21 13:41] cyberjaime45 commented on #455
To be available in https://mvnrepository.com, it usually takes about 24 hours.
You can also install manually by downloading the file and running
`gauge install java --file  name-of-file.zip`

But you'll still need to wait  to be available in mvnrepository.com since the version also goes in your pom file (maven project)

[2020-07-21 14:08] zabil commented on #455
Actually for plugin metadata it uses a cdn(jsdeliver). This is usually updated every 12-24 hours.
This is redirect used for plugin downloads
https://github.com/getgauge/downloads.gauge.org/blob/master/netlify.toml

[2020-07-21 19:09] mjgroppe opened #470 "Gauge Java 0.7.9 not downloading properly"
### Expected behavior
gauge update java
should update the gauge-java plugin to the latest version

### Actual behavior
gauge update java
errors out because the file https://github.com/getgauge/gauge-java/releases/download/v0.7.9/gauge-java-0.7.9.zip doesn't exist

### Steps to reproduce
1. gauge update java

### Gauge version
[code]
Gauge version: 1.1.1
Plugins
-------
html-report (4.0.12)
java (0

[2020-07-22 01:29] sriv commented on #470
thanks for reporting. https://github.com/getgauge/gauge-repository/pull/55 should fix this.

[2020-07-22 01:29] #470 closed

[2020-07-22 05:01] #454 closed

[2020-07-22 11:12] bderoy opened #471 "gauge install java is not working"
### Expected behavior
gauge install java should install gauge java plugin

### Actual behavior
gauge install java is not install gauge java plugin and throw the below error.

Failed to install plugin 'java'.
Reason: Invalid plugin. Could not download java-install.json file.
Failed to install plugin 'java'.
Reason: Invalid plugin. Could not download java-install.json file.

### Steps to reproduce
1

[2020-07-22 11:20] jonathangiber commented on #455
Thanks for the hard work, I'm running the last version without any crash now

[2020-07-22 11:28] sriv commented on #471
there was an issue with the download urls that's been fixed via - https://github.com/getgauge/gauge-repository/pull/55

please give it upto 24 hours for the CDN to refresh itself.

[2020-07-22 13:31] sriv commented on #434
hi @coding-lama - gauge-java 0.7.9 has been released, please try and see if your tests work ok.

Note: it may take upto 24 hours for the CDN to make the artifacts available.

[2020-07-22 15:07] haroon-sheikh commented on #455
@sriv I'm still seeing the issue when multi_threading=false :(

[code]

[2020-07-22 15:10] haroon-sheikh commented on #455
And seeing the following error when enable_multithreading=true

[code]

[2020-07-22 16:08] sriv commented on #455
@haroon-sheikh bummer! Anything relevant in the logs for enable_multithreading=false?

And the error on multithreaded run is new. Will need to look deeper

[2020-07-22 17:26] haroon-sheikh commented on #455
Nothing new, I still see `{"logLevel":"info","message":"Listening on port:12345"}` in each java.out files.

[2020-07-22 17:39] haroon-sheikh commented on #455
And this in middle of the run:

[code]

[2020-07-22 19:18] haroon-sheikh commented on #468
@sriv Just tested this with 0.7.9 and unfortunately this is still an issue when there's dynamic parameters as a table on top of the spec.

[2020-07-23 02:12] cyberjaime45 commented on #455
**This issue still happening for:** @sriv

Gauge version: 1.1.1
Commit Hash: 6e0d83f

Plugins:
flash (0.0.2)
html-report (4.0.12)
java (0.7.9)
json-report (0.3.3)
screenshot (0.0.1)

Note: If downgrade to Gauge v1.0.8 with Java v0.7.4. It works a lot better, a least don't have issues running tests. Any enhancements added to newer versions, the framework starts fail horrible. I hope you guys can fi

[2020-07-23 02:31] sriv commented on #455
@cyberjaime45 - what is the output for `gauge config runner_connection_timeout` ? (If you are using the default, then it would be 30 seconds, but it seems that in your project gauge-java requires more than 40 seconds to scan, so you could try increasing the timeout to 60 seconds)

Trust me, we aren't very please about this either! It will be a lot faster and easier if we had a way to replicate the

[2020-07-23 02:35] cyberjaime45 commented on #455
@sriv
This are my values
runner_connection_timeout=200000
runner_request_timeout=500000
enable_multithreading = false

Should I change it? If so, what values you recommend ?

[2020-07-23 02:47] sriv commented on #455
what happens if you set `enable_multithreading=true` ?

Also just want to make sure that the below

[code]

are set in gauge's global configuration, and not in project's `env`. You can verify by running `gauge config --list`

[2020-07-23 02:53] sriv commented on #468
could you do one more test please:

run `mvn dependency:purge-local-repository` in your project (this would clear the m2 cache for your project's dependency and restore it). I ask this to ensure that there is no residue from our tests earlier which built gauge-java 0.7.9 from source, but does not have all the changes.

also `gauge uninstall java --version 0.7.9 && gauge install java`

[2020-07-23 08:21] haroon-sheikh commented on #468
Still getting the same issue after purging the repository.

[2020-07-23 09:16] jonathangiber commented on #455
I noticed the following error in one of my executions but overall is working fine, these cause many runners not to start at all in a 48 parallel execution:

[58.082s][warning][os,thread] Failed to start thread - pthread_create failed (EAGAIN) for attributes: stacksize: 1024k, guardsize: 0k, detached.
[58.269s][warning][os,thread] Failed to start thread - pthread_create failed (EAGAIN) for attribut

[2020-07-24 05:00] NivedhaSenthil commented on #471
@bderoy is that working for you now ?

[2020-07-24 11:58] bderoy commented on #471
Hi @NivedhaSenthil , Unfortunately this is not working for me at this moment. Thanks

[2020-07-24 12:15] zabil commented on #471
This could be a problem if you centos machine goes through a proxy to access the internet.
`gauge install java` does work now. If you are behind a proxy try setting the `HTTP_PROXY` environment variable.

[2020-07-24 17:02] sriv commented on #468
@haroon-sheikh - I could not replicate it with table driven scenario. I've uploaded the project I used to test here: https://github.com/sriv/gauge-java-468

Please, could you look at this and see if I'm missing something? Feel free to modify and send a pull request.

[2020-07-26 09:21] jonathangiber opened #474 "Runner crashes in filtered parallel execution"
### Expected behavior
Set of specs running in serial with flag allow_filtered_parallel_execution = true should exit properly.

### Actual behavior
A set of specs that should run in serial only, crashes once the execution is finished.

[runner: 1]
Executing in 0 parallel streams.
panic: makechan: size out of range

goroutine 1633 [running]:
github.com/getgauge/gauge/execution.(*parallelExecution).s

[2020-07-27 09:08] BugDiver commented on #474
@jonathangiber I'm not able to replicate this issue. It works fine for mew with the versions which you have specified.

I have 10 specs, 9 tagged as "A". Out of the 9 specs 8 are tagged as "parallel".
The command which I ran ` gauge run specs --tags="A" --parallel --only "parallel"`
I tired with multithreading enable and disabled both.

Is there anything that I'm missing? Maybe you could create a

[2020-07-27 09:12] BugDiver commented on #474
Update: I'm able to replicate it.

#### Scneario

This happens when there are no specs to run in parallel after filtering.

[2020-07-27 10:00] BugDiver commented on #474
Test Project https://github.com/BugDiver/gauge-java-issue-474

[2020-07-27 15:25] bderoy commented on #471
Thank you. It is working now.

[2020-07-27 15:25] #471 closed

[2020-07-29 13:37] zabil commented on #447
@anirudh83 Circling back on this and closing the issue due to inactivity. Please feel free to reach out for any help and will re-open this in that case.

[2020-07-29 13:37] #447 closed

[2020-07-31 07:43] sriv commented on #468
@haroon-sheikh would you be able to test `fix-scenariodatastore` branch and see if there is an improvement?

[2020-07-31 16:32] haroon-sheikh commented on #468
@sriv The issues looks to have fixed some of the errors in accessing datastore but not all.

Also seeing this when running in parallel:

[code]

[2020-08-01 04:05] cyberjaime45 commented on #455
Gauge version: 1.1.1
Commit Hash: 6e0d83f

Plugins
-------
flash (0.0.2)
html-report (4.0.12)
java (0.7.9)
json-report (0.3.3)
screenshot (0.0.1)

Here's my findings:

You will get "Failed to start gauge API: Timed out connecting to java"  with enable_multithreading=false if you're trying to run 5+ in parallel.

The more powerful you're machine,  the more you can run in parallel.

For example with

[2020-08-05 07:48] sriv commented on #455
Thanks @cyberjaime45 for posting back your findings. Very useful recommendations.

For those who are still facing this issue:

- if you are running your tests in parallel using `gauge-java` - note that the default behaviour of gauge (as of date) is to spin one runner process per stream. This is important, since this would mean that the resources consumed is linearly proportional to the number of s

[2020-08-05 07:48] #455 closed

[2020-08-05 07:49] sriv commented on #434
Closing this, there are some findings/recommendations in https://github.com/getgauge/gauge-java/issues/455 that seem relevant.

[2020-08-05 07:49] #434 closed

[2020-08-05 11:44] haroon-sheikh commented on #455
@sriv what about these null pointers when multithreading=true

https://github.com/getgauge/gauge-java/issues/455#issuecomment-662510372
https://github.com/getgauge/gauge-java/issues/455#issuecomment-662590448

Shall we open a separate issue for this? But i've only seen this happening in 0.7.9.

[2020-08-05 11:48] sriv commented on #455
Yes, let's open a separate issue for that. It helps to keep the issue focussed, and also helps raise smaller fixes.

[2020-08-05 12:23] haroon-sheikh opened #482 "NullPointerException when running tests in parallel (0.7.9)"
### Actual behavior

When running the tests in parallel with `enable_multithreading=true`.

[code]

And this in middle of the run

[code]

See conversation in https://github.com/getgauge/gauge-java/issues/455

### Gauge version
[code]

[2020-08-05 14:57] sriv commented on #482
Something does not add up @haroon-sheikh , if you see this stacktrace snippet that you posted:

[code]

and if you follow the stacktrace against [`0.7.9`](https://github.com/getgauge/gauge-java/tree/v0.7.9):

- `StepsScanner.buildStepRegistry(StepsScanner.java:46)` does not invoke `StepRegistry.addStepImplementation`
- instead `buildStepRegistry` method invokes a private method [`addExternalStepEn

[2020-08-05 15:30] haroon-sheikh commented on #482
I've just this in a docker container and now i'm seeing a different issue mentioned here https://github.com/getgauge/gauge/issues/1629#issuecomment-661272065

[2020-08-06 01:46] cyberjaime45 commented on #468
In my case I had similar issues, sometimes  thread 6 was getting values from thread 1. Sometimes null exceptions.  I had to make sure my code is thread safe and the static method  that saves and retrieves  data is synchronized. After all these changes, it worked just fine.

[2020-08-06 09:56] zabil commented on #468
Gauge's design of DataStore access may have caused this

https://github.com/getgauge/gauge-java/blob/2c341fb54320e6bd7b6297d41f765af544a66e36/src/main/java/com/thoughtworks/gauge/datastore/DataStoreFactory.java#L15-L26

The `DataStore` is Threadsafe, however it's usage

[code]

Opens `scenarioStore` to thread safety issues as instance can be be scoped unsafely.

The intention was to use it as

[co

[2020-08-06 10:10] haroon-sheikh commented on #468
Thanks @zabil - I have changed all of the DataStore access to use this `DataStoreFactory.getScenarioDataStore().put()` approach but the issue still persists.

I wonder if your suggestion along with changes from Sriv https://github.com/getgauge/gauge-java/pull/481 will resolve this.

[2020-08-10 09:57] coding-lama commented on #455
Thanks guys, I was able to finally solve the issue with the information provided here.

[2020-08-10 15:36] mihaela1108 opened #483 "Cannot debug java project with gauge plugin"
### Expected behavior
Debug Project Successfully

### Actual behavior
ERROR: transport error 203: timed out waiting for connection
JDWP exit error JVMTI_ERROR_NONE(0): could not connect, timeout or fatal error

### Steps to reproduce
1. Open the JAVA project in intellij and install gauge plugin
2. Debug a test
3. Error appears

### Gauge version
[code]

[2020-08-10 18:52] zabil commented on #483
Thanks for reporting this
Please refer https://github.com/getgauge/Intellij-Plugin#notice for the right pace to post this issue.

[2020-08-10 18:52] #483 closed

[2020-08-13 13:41] stefan-spiess opened #489 ""java.lang.IllegalStateException: zip file closed" in multithreading execution"
We have a Gauge project with step implemenations in an external JAR file located in the libs/ directory and execute the specs in parallel.

### Expected behavior
The specs should run successfully in parallel with the following properties set:
[code]

### Actual behavior
The spec execution fails with the following exception:
[code]

### Steps to reproduce
1. Create gauge-java project
2. Place a JAR

[2020-08-17 07:55] BugDiver commented on #489
@stefan-valtech I tried to replicate this but got no luck. The execution happened as expected.
I have created a repo with a sample project which I used to replicate. https://github.com/BugDiver/gauge-java-489
Could you please check if you could replicate the issue on this, you can modify the project accordingly

[2020-08-18 08:14] sethisandeepsethi commented on #297
Hi,
Can anyone provide some workaround to this problem in Java.
I want to send an email with test summary after execution of the suite. We are dependent on @AfterSuite method for this.
Currently the email is getting sent that many number of time as we have test cases.

[2020-08-18 08:14] sethisandeepsethi commented on #297
Hi,
Can anyone provide some workaround to this problem in Java.
I want to send an email with test summary after execution of the suite. We are dependent on @AfterSuite method for this.
Currently the email is getting sent that many number of time as we have test cases.

[2020-08-18 08:16] olejkavn commented on #297
@sethisandeepsethi do you use latest versions of gauge? this issue is closed

[2020-08-18 23:18] ccrj1105 commented on #297
@sethisandeepsethi  I have the same problem with gauge in version 1.1.1

[2020-08-18 23:28] ccrj1105 opened #491 "@BeforeSuite and @AfterSuite run multiple times when executing tests in parallel whit java"
### Expected behavior
When running threads in parallel @BeforeSuite and @AfterSuite should run only once

### Actual behavior
@BeforeSuite and @AfterSuite execute each time for each parallel stream

### Steps to reproduce
Jun add @AfterSuite and run tests in parallel, AfterSuite method will run multiple times

### Gauge version
[code]

[2020-08-19 01:44] sriv commented on #297
@sethisandeepsethi @ccrj1105 - the `BeforeSuite` and `AfterSuite` hooks should run only once, provided you have `enable_multithreading` set to true (i.e. your tests run in multi thread mode).

Note that this may need your tests to be thread safe.

[2020-08-19 06:36] olejkavn commented on #491
which version of gauge-java do you use?

[2020-08-19 14:59] ccrj1105 commented on #491
@olejkavn my version of gauge-java is 0.7.3

[2020-08-19 15:06] olejkavn commented on #491
so you should update your versions to versions with fix(0.7.9 I suppose)

[2020-08-19 15:09] zabil commented on #491
@olejkavn is right please upgrade gauge java to 0.7.9 make sure you've also upgraded all gauge plugins in the pom.xml, gradle files if you are using any of those.

[2020-08-19 15:09] #491 closed

[2020-08-26 03:12] sriv commented on #491
Also note that you will need to enable multithreading by setting `enable_multithreading=true` in your properties (or via an env variable). Without this, each stream will run in a separate process and will run the suite hooks independently.

[2020-09-02 10:07] zabil commented on #418
Closing this as we are unable to replicate this. Will re-open if someone has project or steps to replicate this.

[2020-09-02 10:07] #418 closed

[2020-09-03 07:14] BugDiver commented on #482
@haroon-sheikh Can you please validate that things are working fine with the latest releases of Gauge and Gauge-java?

[2020-09-03 15:51] haroon-sheikh commented on #482
@BugDiver Have tested with versions below, and I'm not able to reproduce it anymore.

[code]

Happy for you to close the issue. We can always reopen it if it appears again.

[2020-09-03 16:45] #482 closed

[2020-09-14 11:15] zabil commented on #468
@haroon-sheikh did you get a chance to revisit this issue? The new release of gauge java plugin 0.7.10 is also out.

[2020-09-14 11:20] ovixeu opened #501 "Unable to debug java maven projects"
Getting timeout connecting to java starting debug session.
The issue was reproduced on gauge-java version 0.7.8 and 0.7.9

Reproducing steps:

1. Create a new project using command 'gauge init java_maven'
2. Tring to debug a step get the error:

[code]

gauge.log
Runner Ready for Debugging
14-09-2020 10:53:21.512 [java] [DEBUG] running - C:\Program Files\Java\jdk-14.0.1\bin\java.exe [-agentlib:jdw

[2020-09-14 11:24] ovixeu commented on #501
The downgrade to gauge-java 0.7.7 helped at the moment. Waiting your updates on this issue. Opened firstly the issue [issue-1754](https://github.com/getgauge/gauge/issues/1754) thinking that is related to gauge runner.

Thanks in advance!

[2020-09-14 12:20] haroon-sheikh commented on #468
Thanks @zabil - I'll give it a go as soon as it's available in the repository to download and install. Will keep you updated.

[2020-09-16 03:01] sriv commented on #501
which IDE are you facing this with?

I am using VSCode with gauge extension (version 0.0.15), on openjdk14.0.1 (same as yours) with:

[code]

I am able to debug the spec, and hit a breakpoint. (Note: I use linux).

[2020-09-17 14:33] olivermic-vmob commented on #489
@BugDiver   I tried to replicate this bug too and got the same error as above. To reproduce the bug i had to add more specs, so gauge runs it with more than 2 threads. (I checked out your repo, duplicated the specs and ran it also with `gauge run specs -p`) Nevertheless, sometimes it ran without any problems.
If i run it with `gauge run specs -p -n=2` the execution happens as expected.

According

[2020-09-17 20:43] ccrj1105 opened #502 "error pararell execution gauge 1.1.3"
### Expected behavior
Tell us what should happen

### Actual behavior
When running the tests in parallel

Error ----------------------------------

[java]
Error in thread 15
null
java.lang.NullPointerException
        at com.thoughtworks.gauge.processor.ExecuteStepProcessor.process(ExecuteStepProcessor.java:37)
        at com.thoughtworks.gauge.RunnerServiceHandler.lambda$executeStep$7(RunnerServi

[2020-09-18 12:07] ovixeu commented on #501
Using Windows 10

IntelliJ IDEA 2020.1 (Ultimate Edition)
Build #IU-201.6668.121, built on April 8, 2020

with gauge plugin 0.3.21

[2020-09-21 05:39] BugDiver commented on #502
@ccrj1105 Could you please try updating the `gauge-java` plugin?

[2020-09-22 21:00] ccrj1105 commented on #502
@BugDiver  yes I already did and the same error

[2020-09-23 06:08] sriv commented on #502
- are you using gradle/maven ? if so, what is the version of gauge-java in the dependency?
- do you see the error in a fresh project? (i.e. after you do `gauge init java` and copy `example.spec` to simulate a parallel run)
- How many streams are you running in parallel?

I assume you have `enable_multithreading=true` in your project?

[2020-09-25 05:49] NivedhaSenthil commented on #502
i could replicate it with java_maven template, even on simple execution. The same passes fine when run using gauge command.

#### Steps:
[code]

#### Versions:
[code]

[2020-09-25 05:53] NivedhaSenthil commented on #501
I could debug it fine with latest version of gauge-java 0.7.10. Can you please try updating ? Also if you are still facing the issue please check for error logs in logs folder which can help us debug the issue.

[2020-09-25 09:15] BugDiver commented on #468
Closing this as required PRs have been merged and released. Feel free to reopen if the issue still occurs.

[2020-09-25 09:15] #468 closed

[2020-09-26 08:50] dcRUSTy opened #503 "gRPC server is listening on all interfaces."
### Expected behavior
gRPC should(must?) listen only on 127.0.0.1

### Actual behavior
gRPC listening on 0.0.0.0

### Gauge version
[code]

[2020-09-30 07:46] sriv commented on #503
Thanks for raising this. This seems to be the default that [`ServerBuilder`](https://grpc.github.io/grpc-java/javadoc/io/grpc/ServerBuilder.html) seems to be setting.

According to https://github.com/grpc/grpc-java/issues/5791, we should be using `NettyServerBuilder` instead. Will try and see.

[2020-10-05 02:43] NivedhaSenthil commented on #502
Observation: this exception happens when a maven project is executed without compiling.
Works fine with `mvn -q clean compile test-compile gauge:execute`

[2020-10-05 10:26] knysh opened #508 "Step implementation not found in a multi-module project when try to use concepts"
# Expected behavior
All steps should be marked as implemented

### Actual behavior
Step implementation not found

### Steps to reproduce
1. Create a multi-module project in IDEA
2. Add concept in one module
3. Second module contains a dependency on the first one
4. Try to use the concept in the second module

### Gauge version
0.7.10

[2020-10-05 10:44] #502 closed

[2020-10-08 12:22] ZhyliaievD opened #510 "Gauge.captureScreenshot() ignores user specified ClassInstanceManager"
We run each scenario in its own Spring context, therefore we have unique `ClassInitializer`(based on Spring ApplicationContext) and unique instance of `CustomScreenshot` for each scenario. Current `Gauge.captureScreenshot()` implementation  has single ClassInstanceManager instance across all scenarios

### Expected behavior
I should be able to take screenshots via `Gauge.captureScreenshot()` when

[2020-10-09 05:18] NivedhaSenthil commented on #501
@ovixeu any updates on the issue ?

[2020-10-12 07:38] Korop commented on #510
+

[2020-10-12 12:14] BugDiver commented on #510
@ZhyliaievD Could you please provide a very basic sample project which I can use to replicate this issue? I'm afraid I do not have good knowledge about spring, so it would a bit difficult and time-consuming to replicate this.

[2020-10-13 13:04] #377 closed

[2020-10-14 10:15] #503 closed

[2020-10-14 10:16] zabil commented on #503
Fixed on release https://github.com/getgauge/gauge-java/releases/tag/v0.7.12

[2020-10-23 05:35] #501 closed

[2020-10-28 19:06] bansal63 commented on #297
@sriv
I'm also facing same problem.

I've added a post https://spectrum.chat/gauge/general/can-we-run-specs-in-parallel-when-we-have-data-driven-specifications~c97f23ed-fea9-42fa-b454-7cadadcbaa5b as well.

[2020-10-29 14:19] zabil commented on #297
@bansal63 Please share a sample project to replicate this.

[2020-10-30 17:58] ccrj1105 opened #522 "how to iterate a ScenarioDataStore"
to iterate over a scenario datastore in gauge version 1.1.3 and java plugin 0.7.9 I do the following

` DataStore store = DataStoreFactory.getScenarioDataStore();
 store
        .entrySet()
        .forEach(
            entry -> {
              if ((entry.getKey()).toString().contains("Item")) {
`
but this would no longer work because now i use caliber 1.1.3 and java 0.7.13 plugin and datastore sc

[2020-10-30 19:51] zabil commented on #522
There is a new `items` method in 0.7.13

[code]

Please refer this comment https://github.com/getgauge/gauge-java/pull/520#issuecomment-714514673

[2020-10-30 19:51] #522 closed

[2020-11-27 09:30] knysh commented on #508
same with https://github.com/getgauge/gauge/issues/1078#event-3952274943

[2020-11-27 09:30] #508 closed

[2020-12-04 13:08] osandadeshan opened #539 ""Step implementation not found" error occurs even steps are there"
**Describe the bug**
I have a gauge project which contains steps in **main** package. When I am executing specs it shows below error.
[code]

**To Reproduce**
Steps (or project) to reproduce the behavior:
1. This is the repository (https://github.com/osandadeshan/MaxSoft-IntelliAPI)
2. This repository was worked previously with gauge-java 0.7.2. Now I have updated to gauge-java 0.7.4 in pom.xml an

[2020-12-04 13:10] osandadeshan commented on #539
@zabil Really appreciate your support on this issue.

[2020-12-04 18:07] osandadeshan commented on #539
After I downgrade gauge-java version to 0.7.2 in pom.xml and machine, issue resolved. I suspect the issue is in 0.7.4 version

[2020-12-07 10:53] zabil commented on #539
@osandadeshan the latest versions of Gauge is 1.1.6 and Gauge java is 0.7.13 Please update the plugins and the pom.xml to these versions and check.

[2020-12-20 00:02] smaikk opened #543 "Is it possible to integrate Gauge with Espresso ?"
I'm sorry this is not a bug but rather a question:
Is it possible to integrate Gauge framework with Espresso framework for android application?

[2020-12-20 08:34] zabil commented on #543
Please ask this question at https://github.com/getgauge/gauge/discussions

[2020-12-20 08:34] #543 closed

[2020-12-31 06:01] osandadeshan commented on #539
@zabil It is working in the latest versions you have mentioned. Thank you for the support.

[2020-12-31 06:01] #539 closed

[2021-01-14 21:19] MariusSchmidt opened #548 "Running Gauge sample on command line runs forever without error"
**Describe the bug**
I freshly installed gauge on command line via apt-get. I installed Gauge Java using "gauge install java". I created a sample project in /tmp/gaugesample

**To Reproduce**
Steps (or project) to reproduce the behavior:
/tmp$ mkdir gaugesample
/tmp$ cd gaugesample/
/tmp/gaugesample$ gauge init java
Initializing template from https://github.com/getgauge/template-java/releases/late

[2021-01-19 10:46] sriv commented on #548
This is strange. I am trying to replicate this but it works fine on my linux as well as docker environments

[2021-01-29 07:00] preetipadalia commented on #548
Hi @sriv
How to run Specification with Maven enabled gauge java project?

[2021-01-29 14:27] madhavabk commented on #431
where to find this launcher.sh file?

[2021-02-01 05:56] preetipadalia opened #552 "Unable to run/debug specs or scenario in vscode"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps (or project) to reproduce the behavior:
1. Initialise a gauge project
2. Use the following piece of code
3. Run the gauge command
5. See error

[code]

**Logs**

[code]
Your Environment Information -----------
	darwin, 1.1.7, 5d86b72
	html-report (4.0.12), java (0.7.13), js (2.3.15), reportportal (1.11

[2021-02-04 14:41] AhmetRufai opened #859 "How to run Spring Boot and Spring Data with Gauge framework"
**Is your feature request related to a problem? Please describe.**
Yes, Spring Boot project on Gauge does not work. I'm trying to injection with @Autowired annotation but the injection is not happening. Throwing NullPointerException error.

**Describe the solution you'd like**
When I run the method for db query with Junit, it runs successfully. I specify the annotations below in the class where th

[2021-02-05 01:37] henri-tremblay opened #553 ""Killing runner with PID:123 forcefully" when running a simple test"
**Describe the bug**

I am running a really simple test using AssertJ Swing

The test is successful but seems to wait for a timeout at the end (about 5 seconds).
It then stops with "Killing runner with PID:123 forcefully".

I have tried multiple permutations and I still get the error.
The JFrame should be correctly closed and disposed of.
If I launch the Main class directly, it stops as it should.

[2021-02-05 03:17] Khosruz commented on #152
Excellent, its worked after changing from 2.0.2 to 1.4.01

[2021-02-10 11:23] preetipadalia opened #555 "Code lens are not showing for Gradle project having dependent module"
**Describe the bug**
Code lens are not showing for Gradle project having dependent module.
I have two modules in my project.
1. Core module
2. Test module
Test is dependent on Core.

Gauge specs are available in Test module. When i am opening the project in VSCODE the code lens are not showing. The logs shows it did not find the dependencies from the dependent module.

**To Reproduce**
Steps (or p

[2021-02-13 04:40] preetipadalia commented on #555
Any update on thi?

[2021-02-15 13:23] preetipadalia commented on #555
Any update on this please?

[2021-03-01 11:17] sriv commented on #553
Thanks for reporting this, and apologies for the delayed response. I can replicate this issue, will investigate.

The Intellij plugin is being maintained by the Jetbrains team, so please feel free to bring this to their notice. But if there's anything Gauge can do to help, we can try and make necessary changes.

[2021-03-01 13:52] henri-tremblay commented on #553
From my debugging, it looked like the Gauge main process was not talking correctly to the forked Java process. I'm not sure it's related to IntelliJ. But I will reach out to them.

[2021-03-01 14:21] sriv commented on #553
Sorry, I might have been unclear. This issue of gauge having to forcefully kill runner is definitely an issue with gauge/gauge-java. I am investigating this.

I meant for you to seek advice from the Intellij team regarding the best way to.get IDEA to.pick the.right JVM version which you mentioned in the last part of this issue

[2021-03-01 14:43] henri-tremblay commented on #553
Great. Thanks. I will report accordingly

[2021-03-03 02:21] #553 closed

[2021-03-22 12:38] preetipadalia commented on #555
Can any one please provide update on this?

[2021-03-22 12:58] zabil commented on #555
Can you please share a sample github project with the structure you described?

[2021-03-22 13:33] preetipadalia commented on #555
Hi @zabil ,

PFA the sample project.
[SampleTest.zip](https://github.com/getgauge/gauge-java/files/6182518/SampleTest.zip)

[2021-03-22 14:01] zabil commented on #555
If you don't mind can you share this as a public github repository?
It will be much easier to suggest changes, point to source code and ask questions about it.

[2021-03-24 09:14] preetipadalia commented on #555
Hi @zabil Please find below the link of github repo:

https://github.com/preetipadalia/SampleTestGradleGauge

Thanks
Preeti

[2021-03-24 11:06] zabil commented on #555
Importing and running this project points to an issue with VS Code on MacOS Big Sur. This is mostly related to changed configuration of the JDK. So I had to manually set the right java home. More info about that here https://github.com/redhat-developer/vscode-java/issues/1700#issuecomment-729478810

Please check your "Problems" tab on VS Code to find the issues. If those issues are related to JDK

[2021-03-24 11:33] preetipadalia commented on #555
Hi @zabil , I am not seeing any issues in Problems tab. PFA the screenshot for your reference.
<img width="1308" alt="Screenshot 2021-03-24 at 5 01 50 PM" src="https://user-images.githubusercontent.com/36397242/112303832-c618f300-8cc2-11eb-9875-23c54d78716a.png">

[2021-03-24 11:33] preetipadalia commented on #555
If I convert the same project to maven project it will work but with gradle it doesn't work.

[2021-04-13 05:16] Yashk-12 commented on #245
Am also facing same problem cant install java...This error is coming after running my project
 Failed to get configuration from Gauge properties file. Error: open C:\Program Files\Gauge\bin\config\gauge.properties: The system cannot find the path specified.
Compatible version of plugin java not found. Installing plugin java...

[2021-04-13 05:17] Yashk-12 commented on #245
@NivedhaSenthil Can you please help me to solve it

[2021-04-13 08:20] zabil commented on #245
@Yashk-12 can you please tell

* When you started seeing this error?
* Which versions of Gauge and Java are you using?
* Steps along with the Gauge command that led to this error?

[2021-04-19 02:34] sriv commented on #552
Initializing and running a gauge project works ok for me. Do you see any additional information in the `logs` directory?

[2021-04-22 19:15] montezuma93 opened #586 "Issue running Gauge with Gauge-Java-Runner in Kubernetes"
Hi,

we try to run gauge tests along with the gauge-java-runner in Kubernetes.
Our setup is a maven spring project, including round about 2000 class files and a few hunderd specs.
We try to start a Gauge Container in Kubernetes running these tests, with Jenkins as Tool.

Gauge will successfuly compile the classes, but then will suddenly abort with a strange exception, looking like this:

[code]

D

[2021-05-24 10:17] Nick-Triller commented on #586
Hi,

FYI, this issue has been resolved. The problem was caused by Instana, a monitoring tool with auto-instrumentation capabilities. Instana attaches to all JVMs running on a host. The process of dynamically attaching to a JVM includes sending a SIGQUIT signal. Unfortunately, Instana detected gauge-java as a JVM process which caused the behaviour described above.

Thanks
Nick

[2021-05-24 12:25] sriv commented on #586
Thanks for circling back @Nick-Triller .

[2021-05-24 12:25] #586 closed

[2021-05-25 06:55] Sebbiv opened #600 "Gauge connection stuck on Initializing"
**Describe the bug**
We use Gauge plugin in IntelliJ Idea and we occasionally have problem with initialization of the Gauge API. We get stuck on 'Initialize Gauge connection to PROJECT' and intellisense isn't working properly. E.g. Gauge steps aren't recognized in *.cpt and *.spec files. Plugin starts working correctly after a few restarts of IntelliJ Idea. Issue is also happening on Linux Ubuntu

[2021-05-31 16:35] sriv commented on #600
Not sure if this is an issue with gauge or the intellij plugin (which is presently maintained by the jetbrains team). Is there a sample project that I can try replicating this issue?

[2021-06-02 08:57] Sebbiv commented on #600
We tried contacting Jetbrains but they said we should create an issue here.
I was unable to replicate it on a sample project.
But I have found that this issue has been submitted here https://github.com/getgauge/gauge/issues/1896
So closing thank you.

[2021-06-02 15:04] sriv commented on #600
Thanks for following up with Jetbrains. I will spend some more time investigating this.

[2021-07-12 17:20] zbrea opened #617 "All the failed tests are reported in a successful state in the HTML report with Appium"
### Expected behavior
In the tests which cannot find elements (id) on the screen of the app, must have passed in error in the logs and in the html reporting.

### Actual behavior
all tests are successfully passed., even if they cannot find elements (id) on the screen of the app, since I started using gauge-java, for Appium for a native application.

### Steps to reproduce
When I run my tests which

[2021-07-13 03:38] sriv commented on #617
Duplicate of https://github.com/getgauge/html-report/issues/277. Closing.

[2021-07-13 03:38] #617 closed

[2021-07-28 14:48] 0vid1u opened #619 "Unable to debug specs with gauge-java starting with version 0.7.8"
**Describe the bug**
Get `Failed to start gauge API: Timed out connecting to java` each time when try to debug a spec using gauge java version 0.7.8 till to latest version 0.7.15 in Intellij IDEA.

**Using the gauge-java version 0.7.7 it works as expected.**

**To Reproduce**
Steps (or project) to reproduce the behavior:
1. Initialize a gauge+maven+selenium project
2. Try to debug a spec
3. See er

[2021-07-29 11:58] Sebbiv opened #620 "Step refactor doesn't work"
**Describe the bug**
Intellij IDEA refactor throws error could not execute refactor command: java.net.SocketException Connection reset.

**To Reproduce**
Steps (or project) to reproduce the behavior:
1. Select refactor on step in concept file
2. Change step name
3. Press okay
5. See error

[code]

**Expected behavior**
Refactor shouldn't throw exception

**Screenshots**
If applicable, add screensh

[2021-07-30 07:11] KartikPhrael commented on #619
We are also facing this issue. All of us will really appreciate it if you guys can prioritize this please !

[2021-07-30 08:13] sriv commented on #619
@0vid1u @KartikPhrael - can you try and see if debugging works on vscode with gauge,java plugins installed?

Also, in the `logs` folder, do you see any further details? Is there an `api.log` and does that have any details? There may also be `.out` files that contain the output from the java process.

I tried creating a new gauge+java project and I am able to run debug fine. Here's my current gauge

[2021-07-30 12:14] 0vid1u commented on #619
Hi @sriv ,

I have tried to debug with vs-code, looks like it works...
![image](https://user-images.githubusercontent.com/2903146/127650422-d11ef220-84bd-4656-8775-32a6dc69b8e7.png)

IntelliJ doesn't want to start debugging and show timeout connecting java.

Attached generated logs:
gauge.log
-----------
30-07-2021 15:12:21.189 [Gauge] [DEBUG] Created gauge_screenshots_dir at C:\Workspace\SANDBOX\

[2021-08-14 18:19] preetipadalia opened #622 "Failed to start runner. Timed out connecting to java"
**Describe the bug**

getting "Failed to start runner. Timed out connecting to java" error very frequently while executing scripts in jenkins pipeline.

[code]

**Expected behavior**
the scripts should run fine.

**Versions:**
 - OS -- Linux
 - Java 11
 - gradle 6.8.2

[code]

[2021-08-20 02:52] sriv commented on #622
do you see any information in the `logs` folder? either in the log files or in the `.out` files?

[2021-08-30 07:33] PadillaBraulio commented on #548
@MariusSchmidt  im facing the same issue, did you find a solution?

[2021-09-23 19:16] MariusSchmidt commented on #548
@PadillaBraulio Update: So for a fresh setup with a new additional Java Version (Java 17, installed alongside Java 16, 11 and 8) I ran into the same problem again, default JAVA_HOME was Java 11 but I tried to run the process with Java 17. Setting the JAVA_HOME to the machine actually running the tests (e.g. trough gauge-maven-plugin) made it work.

[2021-10-04 17:14] MariusSchmidt commented on #622
@preetipadalia Please verify, that JAVA_HOME points to the java installation running the tests. That is usually a problem for me.

[2021-10-28 08:14] poornadeem opened #623 "Step Implementations not found when i run my scripts in Jenkins"
Failed to load implementations from /home/workfource/.jenkins/workspace/STAGE3_TRAVEL_FE_SANITY_QA_TR/step_implementations
Successfully generated html-report to => /home/workfource/.jenkins/workspace/STAGE3_TRAVEL_FE_SANITY_QA_TR/reports/html-report/index.html

Specifications:	0 executed	0 passed	0 failed	1 skipped
Scenarios:	0 executed	0 passed	0 failed	3 skipped

Gauge  -v:
Gauge version: 1.4.1

[2021-11-05 09:30] renovate[bot] opened #627 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency com.github.javaparser:javaparser-core to v3.23.1
 - [ ] Update dependency com.google.protobuf:protobuf-java to v3.19.1

[2021-11-14 13:41] ZmixZ opened #628 "Failed to kill Runner: rpc error: code = Unavailable desc = closing transport due to: connection error: desc = "error reading from server: EOF", received prior goaway: code: INTERNAL_ERROR, debug data: io/perfmark/PerfMark"
Hello everyone!
At startup, the login.spec is successfully build, but the test does not start, but falls into ignore

**To Reproduce**
Select the login.spec and run it
Pay attention to the Run result (check the log file attached gauge.log):
"Failed to kill Runner: rpc error: code = Unavailable desc = closing transport due to: connection error: desc = "error reading from server: EOF", received prio

[2021-11-16 02:49] sriv commented on #628
hi @ZmixZ - is there a project that I can try executing to see this error? It seems like this is thrown due to some unresolved gRPC dependency.

[2021-11-16 19:44] ZmixZ commented on #628
Good day @sriv !
Unfortunately, I have no idea how to do this. The fact is that I get this error in general in all projects that are on Gauge:).
For example, I initially relied on the official project and there I also caught this error: https://github.com/getgauge-examples/java-gradle-selenium
Perhaps if you ask me to send you some information, I can somehow contribute to the speedy resolution of

[2021-11-17 01:55] sriv commented on #628
That is strange. What command are you using to run the tests for https://github.com/getgauge-examples/java-gradle-selenium?

I use `./gradlew gauge`.

That's a bummer. Are your gauge projects using any build tool (maven/gradle)? If so, please share what commands you use to run the specs.

Also, do you see anything abnormal reported in the `logs`?

[2021-11-17 19:23] ZmixZ commented on #628
@sriv Hmm, I run my specs through Run, but before that I tried to launch gradlew gauge in my project. I'm just learning how to work with gradle. What is interesting for me was just this message (launching the browser and working out the step was not):
C:\Users\vanyushin\Documents\GitHub\Gauge-Framework-Example>gradlew gauge

BUILD SUCCESSFUL in 2s
1 actionable task: 1 executed

And for some reason

[2021-11-19 09:42] sriv commented on #628
Gradle caches your build, so if it feels that there is no change since the last run, it will report the status without executing it again. Can you try running `gradlew --no-build-cache`?

I'll investigate what's the best way to make `gauge` task not cacheable

[2021-11-21 09:58] ZmixZ commented on #628
@sriv When I run gradlew --no-build-cache, I get the exact same build success message:
C:\Users\vanyushin\Documents\GitHub\Gauge-Framework-Example>gradlew --no-build-cache

Welcome to Gradle 7.1.

To run a build, run gradlew <task> ...

To see a list of available tasks, run gradlew tasks

To see a list of command-line options, run gradlew --help

To see more detail about a task, run gradlew help -

[2021-12-05 22:24] zbrea opened #640 "Command execution problem with 2 tags (TagA & TagB or TagA,TagB)"
**Describe the bug**

When I run the command "gauge run"  with the "search & successful" or "search,successful" , I receive the message No specifications found, although it works fine with the "search | successful" .
I don't know what is causing the problem?

**To Reproduce**

I run the following command  for  the example template java:
[code]
![spec](https://user-images.githubusercontent.com/5989

[2021-12-06 09:10] zabil commented on #640
This expression translates to "Run all specifications have are tagged with both `search` and `successful`. In the screenshots you posted it skips the scenario as they only one of these tags are there.

Try changing the tags to

[code]

[2021-12-06 09:10] #640 closed

[2022-02-22 14:54] haroon-sheikh opened #674 "Failed to start gauge API - 0.8.1 is failing on alpine images"
**Describe the bug**
Failed to start gauge API - 0.8.1 is failing on alpine images

**To Reproduce**
Steps (or project) to reproduce the behavior:
1. Update the gauge-java version to 0.8.1 in https://github.com/getgauge-examples/java-maven-selenium
2. Run the following

[code]

Error:
[code]

[code]

**Additional context**
Add any other context about the problem here.

[2022-02-23 21:13] sixcorners commented on #146
What's missing is not Gauge's stacktrace but the caused by of the exception that does get logged.
The output I'm looking at is equivalent to this:
[code]
What caused the ExceptionInInitializerError? There isn't a way to tell here.

[2022-02-24 08:41] i-whammy commented on #674
Hi @haroon-sheikh , it seems the version of `gauge-java` is 0.8.0 in the log you attached. Is this as what you intended?

[2022-02-24 11:01] haroon-sheikh commented on #674
Good spot @i-whammy. That was just me testing with different versions, the same issue persists with 0.8.1

[code]

[2022-02-25 07:14] preetipadalia commented on #622
its working fine now. I increased the timeout value which fixed the issue.

[2022-02-25 07:14] #622 closed

[2022-02-28 15:33] osandadeshan commented on #619
Facing the same issue for a while.
@zabil Appreciate it if you can prioritize a quick fix for this.

[2022-03-05 02:13] xwinie opened #678 "error while marshaling: string field contains invalid UTF-8"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps (or project) to reproduce the behavior:
1. Initialise a gauge project
2. Use the following piece of code
3. Run the gauge command
5. See error

[code]

**Logs**

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots

[2022-03-05 11:17] sriv commented on #678
looks like there is an issue reading the csv file.

[2022-03-10 13:38] haroon-sheikh commented on #674
@sriv have you had a chance to look at this? is there anything I can do to help please?

[2022-03-14 11:12] preetipadalia opened #683 "Require feature to skip the scenario or data iteration for condition mismatch during runtime"
Hi ,
I am trying to skip a scenario of data iteration based on a condition.
Can we either provide an exception which can be used to handle this or any method which provide this feature.

Thanks

[2022-04-13 14:34] jlc68 commented on #619
We are facing the same issue after upgrading from 0.7.5 to 0.8.1

Here are additional logs that don't appear to be included above:
13-04-2022 08:54:37.423 [Gauge] [CRITICAL] Error: runtime error: invalid memory address or nil pointer dereference
goroutine 1 [running]:
runtime/debug.Stack(0xc0003633b8, 0x1121480, 0x16e2a30)
	C:/hostedtoolcache/windows/go/1.16.13/x64/src/runtime/debug/stack.go:24 +0

[2022-04-17 10:11] zbrea opened #686 "Failed to update gauge-java to latest version 0.9.0"
**I can't update gauge-java to the latest gauge-java-0.9.0 for windows.x86_64**

![image](https://user-images.githubusercontent.com/59898499/163710517-22d489a6-91c6-4edd-aa78-876df841398c.png)

![image](https://user-images.githubusercontent.com/59898499/163710722-740e31e4-f30a-469d-910c-fd1127142924.png)

[2022-04-18 11:25] zbrea commented on #686
I was able to build the build from the source by following the process described in the README.md

[2022-04-18 21:35] zabil commented on #686
Thanks for pointing this out. There's been a problem with publishing the 0.9.0 jar files. Will be fixing this soon.

[2022-05-03 16:23] jbalooka opened #687 "Java Runner remains in Infinite Execution Mode"
**Describe the bug**

1. First it Complains about Reflections for non JAVA Files
03-05-2022 17:59:37.715 [java] [ERROR] [ForkJoinPool.commonPool-worker-4] WARN org.reflections.Reflections - could not create Dir using com.thoughtworks.gauge.scan.ClasspathScanner$1@2fadf5f1 from url file:**/**D:/git/iec-aw/tc-soa-client/soa_libs/README.MD.** skipping.**
03-05-2022 17:59:37.715 [java] [ERROR] java.ut

[2022-05-04 19:07] marnee01 commented on #619
Considering this has been an open issue for so long, I'll be recommending to my company that we switch to a different framework. This is unacceptable.

[2022-05-06 03:08] vsr2 opened #688 "Unable to run spec file on windows10 21H2 machine"
**Describe the bug**
[Gauge]
Failed to start gauge API: Timed out connecting to java

**To Reproduce**
Steps (or project) to reproduce the behavior:
1. Load a gauge project in intellij
2. Load a specification file having 3-5 scenarios
3. Run the specification file or scenario file
5. See error

[code]

**Logs**

[code]

**Expected behavior**
Specification file should run without any error

**Scree

[2022-05-06 03:41] sriv commented on #688
Please use the latest gauge version. If you still face errors please inspect logs for errors and share it without any sensitive information

[2022-05-06 04:38] vsr2 commented on #688
@sriv i did install latest gauge but facing same issue. gauge logs are same as old logs and .out files doesn't have much information other than "{"logLevel":"debug","message":"multithreading is set to true"}
{"logLevel":"debug","message":"multithreading enabled, number of threads=8"}".

[2022-05-12 15:32] jbalooka commented on #687
It was caused by some dependencies having a Higher Java Bytecode Version than the JRE used by Gauge-Java.
A better error message when such classes are encountered would help a long way

[2022-05-12 18:18] preetipadalia commented on #686
Is there any update on this?

[2022-05-16 10:09] sriv commented on #686
gauge-java 0.9.0 is now available and can be installed using `gauge install java` - https://github.com/getgauge/gauge-java/releases/tag/v0.9.0

[2022-05-16 10:09] #686 closed

[2022-05-17 14:52] haroon-sheikh commented on #674
Related to https://github.com/grpc/grpc-java/issues/8751

[2022-05-17 15:25] haroon-sheikh commented on #674
@zabil @sriv Do you think we can downgrade the grpc version to < 1.42.x? The workaround above works for gauge but break anything else running within the image?

[2022-05-20 02:24] #674 closed

[2022-07-04 09:28] serhatozdursun opened #691 "Support programmatically skipped scenarios (e.g if a scenario has a dependency failure)"
I am working on an API product. Some endpoints are associated with 3rd party endpoints. Sometimes we may receive an error that does not belong to our product. In this case, I should be able to bypass this scenario without failing the whole feature.

If there was a feature which allow me skip the scenario with certain case , it would be awesome. It could be static method like Gauge.skip("skip reaso

[2022-07-22 13:33] andrumacgiollari opened #692 "install java plugin command not working"
### Expected behavior
when I execute:
       gauge install java
the plugin should install

### Actual behavior

root@67ffad305d3a:/# gauge install java
Failed to install plugin 'java'.
Reason: Invalid plugin name or there's a network issue while fetching plugin details.
root@67ffad305d3a:/#
root@67ffad305d3a:/#
root@67ffad305d3a:/# gauge install java --version 0.9.1
........................
Succes

[2022-07-22 18:28] zabil commented on #692
Works for me at the moment.

[code]

Can you please try running

[code]

Also information on about the OS will help.